<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartLikeType</key>
	<string>chapterCompositePressure</string>
	<key>frameAroundMemento</key>
	<string>assetTypeBrightness</string>
	<key>intermediateVectorMode</key>
	<string>mapAsVisitor</string>
	<key>interpolationPrototypeName</key>
	<string>progressbarAboutState</string>
	<key>keyStorageColor</key>
	<string>commandCycleDelay</string>
	<key>notifierFrameworkAcceleration</key>
	<string>effectAndParameter</string>
	<key>storyboardPhaseOrigin</key>
	<string>textStrategyTag</string>
	<key>synchronousAwaitAcceleration</key>
	<string>dimensionFunctionAlignment</string>
</dict>
</plist>
