<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionDuringParameter</key>
	<string>resizableDurationSkewx</string>
	<key>isolateMediatorStyle</key>
	<string>getxInsideAdapter</string>
	<key>materialFrameworkName</key>
	<string>builderActionCenter</string>
	<key>navigatorUntilBuffer</key>
	<string>utilViaKind</string>
	<key>pinchableSpineType</key>
	<string>rapidDocumentDensity</string>
	<key>remainderCompositeForce</key>
	<string>spriteVarValidation</string>
	<key>streamValueKind</key>
	<string>exponentShapeBottom</string>
	<key>unaryDespiteWork</key>
	<string>timerActionTension</string>
</dict>
</plist>
