<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFunctionTransparency</key>
	<string>handlerStateSpacing</string>
	<key>exponentBesideObserver</key>
	<string>mediaqueryOrSingleton</string>
	<key>functionalFactoryIndex</key>
	<string>entityTempleCenter</string>
	<key>gradientWithMemento</key>
	<string>synchronousOffsetFormat</string>
	<key>riverpodFormIndex</key>
	<string>observerDuringKind</string>
	<key>routeActionDepth</key>
	<string>radiusBesideParam</string>
	<key>scrollFacadeOrientation</key>
	<string>protocolContextName</string>
	<key>smallExceptionDuration</key>
	<string>tweenByStyle</string>
	<key>switchKindLeft</key>
	<string>taskFormDistance</string>
</dict>
</plist>
