<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleLikeValue</key>
	<string>hashVisitorFrequency</string>
	<key>comprehensivePromiseIndex</key>
	<string>taskTempleLeft</string>
	<key>fusedConfigurationCenter</key>
	<string>momentumOrMemento</string>
	<key>futureJobOrigin</key>
	<string>discardedTransitionShape</string>
	<key>missedMatrixFrequency</key>
	<string>constStatefulRate</string>
	<key>normLikeParameter</key>
	<string>navigatorPlatformLeft</string>
	<key>resolverParameterPosition</key>
	<string>standaloneNodeTension</string>
	<key>stepCompositeAlignment</key>
	<string>storePhaseOffset</string>
	<key>textureParamInteraction</key>
	<string>firstStorageFeedback</string>
</dict>
</plist>
