<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteRouteRate</key>
	<string>symmetricTableAlignment</string>
	<key>mobileTernaryMomentum</key>
	<string>grayscaleAtStrategy</string>
	<key>multiPlaybackBehavior</key>
	<string>resultObserverTag</string>
	<key>switchOfShape</key>
	<string>vectorCommandBottom</string>
	<key>tangentIncludeType</key>
	<string>transformerForComposite</string>
	<key>textFunctionSpeed</key>
	<string>navigatorTaskCoord</string>
</dict>
</plist>
