<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionCycleBottom</key>
	<string>callbackSinceLayer</string>
	<key>controllerAlongOperation</key>
	<string>arithmeticTempleMomentum</string>
	<key>histogramOfVariable</key>
	<string>dialogsOutsideOperation</string>
	<key>petStateDelay</key>
	<string>directlyCommandBehavior</string>
	<key>popupBeyondFacade</key>
	<string>apertureVariableResponse</string>
	<key>semanticCubitDelay</key>
	<string>painterAmongParameter</string>
	<key>signatureInterpreterOrigin</key>
	<string>materialExceptEnvironment</string>
</dict>
</plist>
