<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionVariableIndex</key>
	<string>effectVariableSkewx</string>
	<key>coordinatorBufferOrientation</key>
	<string>consumerKindName</string>
	<key>dependencyActivityVisibility</key>
	<string>missionDuringVariable</string>
	<key>fixedCheckboxOpacity</key>
	<string>diffableMobileFlags</string>
	<key>indicatorObserverOffset</key>
	<string>diffableMarginDelay</string>
	<key>logarithmKindBound</key>
	<string>delegateForMemento</string>
	<key>multiplicationSingletonStatus</key>
	<string>temporaryRepositoryTheme</string>
	<key>rectProxySize</key>
	<string>relationalGrainPadding</string>
	<key>webHashDepth</key>
	<string>dialogsExceptKind</string>
</dict>
</plist>
