<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gestureStagePressure</key>
	<string>streamOrPattern</string>
	<key>painterNumberTop</key>
	<string>tensorDescriptionCoord</string>
	<key>presenterAgainstAdapter</key>
	<string>durationPhaseFlags</string>
	<key>robustScrollState</key>
	<string>variantStrategyMargin</string>
	<key>sharedResponseOrigin</key>
	<string>specifyCubitDelay</string>
	<key>similarWorkflowOrigin</key>
	<string>largeAssetInset</string>
	<key>timerEnvironmentTail</key>
	<string>sophisticatedQueryStatus</string>
	<key>transformerDecoratorStyle</key>
	<string>featureOfProxy</string>
</dict>
</plist>
