<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasNearParameter</key>
	<string>resolverInterpreterBrightness</string>
	<key>clipperProcessDepth</key>
	<string>semanticStreamKind</string>
	<key>progressbarAwayTask</key>
	<string>tabviewInsidePlatform</string>
	<key>titleLikeLayer</key>
	<string>synchronousCacheLeft</string>
	<key>variantForParameter</key>
	<string>chapterExceptPrototype</string>
</dict>
</plist>
