<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintLevelScale</key>
	<string>tangentAtShape</string>
	<key>elasticMomentumFeedback</key>
	<string>advancedChannelRight</string>
	<key>multiplicationCycleOffset</key>
	<string>cardByMediator</string>
	<key>synchronousBulletDelay</key>
	<string>extensionBridgeVelocity</string>
</dict>
</plist>
