<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionWithFunction</key>
	<string>bufferVersusParameter</string>
	<key>cupertinoIsolateDelay</key>
	<string>independentResultVisible</string>
	<key>inactiveLocalizationOpacity</key>
	<string>presenterViaTemple</string>
	<key>materialBitrateOpacity</key>
	<string>iconAtVar</string>
	<key>navigatorAmongChain</key>
	<string>mediaCommandPosition</string>
	<key>navigatorDecoratorBrightness</key>
	<string>draggableGemBrightness</string>
	<key>numericalPointTheme</key>
	<string>inkwellTierMode</string>
	<key>routeByLevel</key>
	<string>stampObserverBehavior</string>
	<key>threadPatternStatus</key>
	<string>observerMediatorSkewx</string>
	<key>transitionValueInset</key>
	<string>containerNumberName</string>
</dict>
</plist>
