<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateBufferDuration</key>
	<string>allocatorAndLevel</string>
	<key>curveOperationType</key>
	<string>scaffoldActivityDelay</string>
	<key>hashActionOffset</key>
	<string>keyRowType</string>
	<key>lossAboutPlatform</key>
	<string>rowAgainstKind</string>
	<key>reducerProxyDirection</key>
	<string>usecaseCommandMomentum</string>
	<key>smallMovementDuration</key>
	<string>effectBufferLocation</string>
	<key>statefulLocalizationLocation</key>
	<string>asyncSystemShade</string>
	<key>statelessLevelOpacity</key>
	<string>delicatePainterPadding</string>
	<key>unactivatedGridDistance</key>
	<string>gestureAlongScope</string>
	<key>usageAdapterStyle</key>
	<string>localBinaryVelocity</string>
</dict>
</plist>
