<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDespiteComposite</key>
	<string>fragmentSinceTier</string>
	<key>backwardCanvasOffset</key>
	<string>durationBufferTransparency</string>
	<key>batchDuringInterpreter</key>
	<string>sharedSceneAppearance</string>
	<key>constLogarithmFormat</key>
	<string>operationSystemState</string>
	<key>containerFacadeSpeed</key>
	<string>reducerEnvironmentLeft</string>
	<key>positionVisitorScale</key>
	<string>desktopTextureMomentum</string>
	<key>reactiveObserverTop</key>
	<string>allocatorIncludeStructure</string>
	<key>sensorObserverSpeed</key>
	<string>modelBridgeStyle</string>
	<key>specifierThroughActivity</key>
	<string>mediocreLocalizationInteraction</string>
	<key>viewSinceType</key>
	<string>numericalAsyncSpacing</string>
</dict>
</plist>
