<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSliderAppearance</key>
	<string>firstLabelContrast</string>
	<key>builderIncludeTemple</key>
	<string>cupertinoCapacitiesShape</string>
	<key>displayableGraphRotation</key>
	<string>granularCommandInterval</string>
	<key>positionPerShape</key>
	<string>spineAlongFacade</string>
	<key>sliderAgainstFacade</key>
	<string>slashByJob</string>
	<key>unactivatedCurveAlignment</key>
	<string>navigatorTempleCenter</string>
	<key>workflowAtValue</key>
	<string>borderParameterDelay</string>
</dict>
</plist>
