<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThroughPlatform</key>
	<string>subtleNodeKind</string>
	<key>baselinePlatformHead</key>
	<string>notificationStrategyPosition</string>
	<key>blocNumberScale</key>
	<string>sophisticatedHeroPressure</string>
	<key>bulletWithType</key>
	<string>immediateIndicatorBehavior</string>
	<key>heapActivityRotation</key>
	<string>localizationOrActivity</string>
	<key>interactorAmongChain</key>
	<string>desktopKernelType</string>
	<key>remainderFormDirection</key>
	<string>imperativePopupSkewx</string>
	<key>segmentFormResponse</key>
	<string>contractionOrCommand</string>
	<key>symmetricButtonOrientation</key>
	<string>lazyArithmeticState</string>
	<key>temporaryNavigatorTop</key>
	<string>imperativeFeatureRight</string>
</dict>
</plist>
