<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectMementoMode</key>
	<string>curveTempleDuration</string>
	<key>mediaqueryPhaseTop</key>
	<string>agileRouterMode</string>
	<key>missedResponseStatus</key>
	<string>loopUntilPhase</string>
	<key>reactiveCupertinoStatus</key>
	<string>synchronousDialogsPadding</string>
	<key>requiredFrameFrequency</key>
	<string>statelessHeapScale</string>
	<key>streamJobPressure</key>
	<string>catalystOperationRotation</string>
</dict>
</plist>
