<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardNearWork</key>
	<string>smallFactoryState</string>
	<key>flexibleCompleterEdge</key>
	<string>hierarchicalGateSize</string>
	<key>overlayScopeTheme</key>
	<string>smartMobxSize</string>
	<key>popupUntilShape</key>
	<string>reducerTierTransparency</string>
	<key>priorityEnvironmentHead</key>
	<string>borderCompositeTheme</string>
	<key>repositoryMementoColor</key>
	<string>offsetDuringFunction</string>
	<key>respectiveObserverSkewx</key>
	<string>geometricStateHue</string>
</dict>
</plist>
