<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAsProxy</key>
	<string>certificateSystemTail</string>
	<key>heroFormShape</key>
	<string>descriptionActionSpacing</string>
	<key>methodAgainstShape</key>
	<string>entityTypeTheme</string>
	<key>nativeGraphCoord</key>
	<string>globalDecorationName</string>
	<key>subscriptionStrategyBehavior</key>
	<string>configurationTypeOrientation</string>
	<key>unsortedRemainderLocation</key>
	<string>routerCycleInset</string>
</dict>
</plist>
