<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionJobRotation</key>
	<string>hashInsideTemple</string>
	<key>directlyStoreTag</key>
	<string>titleThroughContext</string>
	<key>firstOverlayOpacity</key>
	<string>priorityFacadeDirection</string>
	<key>managerPrototypeDistance</key>
	<string>dialogsVarColor</string>
	<key>numericalProtocolTint</key>
	<string>sortedSliderDuration</string>
	<key>requestSystemCenter</key>
	<string>custompaintNumberTheme</string>
	<key>resizableSpineDistance</key>
	<string>normAndForm</string>
	<key>tappableGraphStatus</key>
	<string>precisionMementoSpacing</string>
	<key>unactivatedFactoryType</key>
	<string>comprehensiveSizedboxOffset</string>
</dict>
</plist>
