<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionTierCoord</key>
	<string>displayablePlateBound</string>
	<key>disabledProgressbarPadding</key>
	<string>webGestureForce</string>
	<key>subtleAspectTint</key>
	<string>popupOrMethod</string>
	<key>tensorMetadataDepth</key>
	<string>catalystInsideMediator</string>
</dict>
</plist>
