<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAtVariable</key>
	<string>queryMementoType</string>
	<key>ephemeralManagerSkewx</key>
	<string>reducerBeyondParam</string>
	<key>grainStageFeedback</key>
	<string>groupMementoBound</string>
	<key>injectionInsideStructure</key>
	<string>tableTierSize</string>
	<key>petParameterSpacing</key>
	<string>popupAdapterAppearance</string>
	<key>popupAsPlatform</key>
	<string>substantialMovementCount</string>
	<key>publicSliderOpacity</key>
	<string>navigationCyclePosition</string>
	<key>scrollPatternBottom</key>
	<string>baselineFlyweightType</string>
	<key>sortedDelegatePadding</key>
	<string>transitionCommandInset</string>
</dict>
</plist>
