<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAmongStage</key>
	<string>otherThemeFrequency</string>
	<key>gateInsideTier</key>
	<string>statelessDependencyHue</string>
	<key>mapSinceChain</key>
	<string>compositionStructureLeft</string>
	<key>pivotalMethodFrequency</key>
	<string>gemAwayBridge</string>
	<key>positionByFacade</key>
	<string>titleBridgeType</string>
	<key>rectVersusFacade</key>
	<string>operationWithoutType</string>
	<key>serviceFormVisibility</key>
	<string>labelBesideType</string>
	<key>singletonBesideSystem</key>
	<string>decorationSinceStyle</string>
	<key>threadFlyweightIndex</key>
	<string>transformerModeFrequency</string>
</dict>
</plist>
