<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPrototypeCount</key>
	<string>flexFlyweightMargin</string>
	<key>drawerByInterpreter</key>
	<string>animationOperationBrightness</string>
	<key>localizationOperationCenter</key>
	<string>beginnerCharacterFlags</string>
	<key>monsterLikeState</key>
	<string>requestOutsideStyle</string>
	<key>sineDuringComposite</key>
	<string>unactivatedKernelStatus</string>
	<key>singleExceptionPosition</key>
	<string>greatBorderTension</string>
	<key>temporaryTickerTension</key>
	<string>variantAndPhase</string>
	<key>vectorAwaySystem</key>
	<string>widgetThroughMode</string>
</dict>
</plist>
