<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintModeCenter</key>
	<string>exponentAndVar</string>
	<key>dropdownbuttonBesideMode</key>
	<string>binaryFromSingleton</string>
	<key>explicitLoopTension</key>
	<string>commonMetadataValidation</string>
	<key>factoryFunctionTransparency</key>
	<string>layoutJobRight</string>
	<key>monsterIncludeMediator</key>
	<string>crudeAnimationPosition</string>
	<key>notificationBesideSystem</key>
	<string>secondObserverOrientation</string>
	<key>originalCurveRight</key>
	<string>hierarchicalCompletionBorder</string>
	<key>signatureParamTension</key>
	<string>explicitLogarithmLocation</string>
</dict>
</plist>
