<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectContainPattern</key>
	<string>visibleNodePressure</string>
	<key>cubeCycleRotation</key>
	<string>positionedCompositeVelocity</string>
	<key>interactiveSpriteLeft</key>
	<string>activeGraphCount</string>
	<key>keyZoneBrightness</key>
	<string>descriptionInStage</string>
	<key>mediaCommandInterval</key>
	<string>logTypeAcceleration</string>
	<key>pivotalSliderFlags</key>
	<string>multiLoopMomentum</string>
	<key>queueCompositeInteraction</key>
	<string>interactorPhaseTop</string>
	<key>signChainInterval</key>
	<string>navigatorAndVar</string>
</dict>
</plist>
