<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionContainStrategy</key>
	<string>factorySingletonBehavior</string>
	<key>errorVariableCoord</key>
	<string>constraintAndLayer</string>
	<key>integerAndBuffer</key>
	<string>viewWithoutMemento</string>
</dict>
</plist>
