<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeEventType</key>
	<string>intermediateTransitionDepth</string>
	<key>basicInjectionInset</key>
	<string>serviceIncludeShape</string>
	<key>controllerParamLeft</key>
	<string>observerVarRate</string>
	<key>decorationFlyweightForce</key>
	<string>keyTransformerInset</string>
	<key>dependencyAboutBridge</key>
	<string>activatedTickerFormat</string>
	<key>standaloneResourceInset</key>
	<string>immediateThreadBehavior</string>
	<key>transformerTierOrigin</key>
	<string>entropyWorkMargin</string>
</dict>
</plist>
