<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStyleOrigin</key>
	<string>swiftStyleCenter</string>
	<key>arithmeticTypeLocation</key>
	<string>mapAgainstFramework</string>
	<key>deferredLayoutCenter</key>
	<string>webRouteDirection</string>
	<key>factoryAlongFlyweight</key>
	<string>resizableNavigatorOrientation</string>
	<key>firstBaselineBrightness</key>
	<string>queryPhaseScale</string>
	<key>materialLikeContext</key>
	<string>activeMenuLocation</string>
	<key>modalNearInterpreter</key>
	<string>batchDecoratorAcceleration</string>
	<key>opaqueRemainderScale</key>
	<string>graphNumberVisibility</string>
	<key>sinkFormFrequency</key>
	<string>logForProcess</string>
</dict>
</plist>
