<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTimerLeft</key>
	<string>columnForMode</string>
	<key>beginnerHistogramForce</key>
	<string>firstButtonSpacing</string>
	<key>constraintAlongPlatform</key>
	<string>widgetNearComposite</string>
	<key>declarativeHashTop</key>
	<string>unsortedTextureTension</string>
	<key>permanentGradientStyle</key>
	<string>isolateByFacade</string>
	<key>providerWithStructure</key>
	<string>masterFromVar</string>
	<key>rapidFactoryOrientation</key>
	<string>resourceBeyondOperation</string>
</dict>
</plist>
