<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianProjectionStatus</key>
	<string>reductionJobOffset</string>
	<key>composableAwaitTag</key>
	<string>commonKernelScale</string>
	<key>providerBesideEnvironment</key>
	<string>entityValueTail</string>
	<key>screenProcessFormat</key>
	<string>matrixStyleSpacing</string>
	<key>skinStateTheme</key>
	<string>navigatorModeCoord</string>
	<key>spotValueOrigin</key>
	<string>sinkAmongPlatform</string>
	<key>tickerStateKind</key>
	<string>consumerPlatformHead</string>
</dict>
</plist>
