<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryWithoutType</key>
	<string>singletonDespiteContext</string>
	<key>constraintThroughContext</key>
	<string>priorityStageHue</string>
	<key>futureAboutState</key>
	<string>reactiveTextSaturation</string>
</dict>
</plist>
