<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorMediatorRotation</key>
	<string>nodeObserverStyle</string>
	<key>delegateOfProcess</key>
	<string>transformerShapeDuration</string>
	<key>difficultQueryAlignment</key>
	<string>rapidVariantOrigin</string>
	<key>intermediateCallbackDepth</key>
	<string>consumerBesideVariable</string>
	<key>persistentViewContrast</key>
	<string>delegateUntilStrategy</string>
	<key>popupMementoTop</key>
	<string>modalMediatorInteraction</string>
	<key>responseTaskLeft</key>
	<string>spritePerTask</string>
	<key>storeLayerColor</key>
	<string>layoutVariableHead</string>
	<key>tweenVisitorTheme</key>
	<string>musicSinceValue</string>
</dict>
</plist>
