<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateDuringWork</key>
	<string>multiBaseTail</string>
	<key>diversifiedHistogramCoord</key>
	<string>offsetInterpreterAlignment</string>
	<key>intermediateRectSkewy</key>
	<string>prismaticFeatureOpacity</string>
	<key>masterStageType</key>
	<string>interfaceTypeDepth</string>
	<key>serviceNumberMargin</key>
	<string>cartesianSpriteInset</string>
	<key>sliderBufferBorder</key>
	<string>graphicFormOrientation</string>
	<key>storeVariableBottom</key>
	<string>parallelGrainFrequency</string>
</dict>
</plist>
