<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowFormInset</key>
	<string>descriptorAndContext</string>
	<key>logarithmInterpreterKind</key>
	<string>taskMediatorIndex</string>
	<key>observerDuringComposite</key>
	<string>operationMediatorDuration</string>
	<key>responseMethodInterval</key>
	<string>textAsPattern</string>
	<key>streamProcessPosition</key>
	<string>prevProtocolPadding</string>
</dict>
</plist>
