<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintLayerPadding</key>
	<string>memberBesideVariable</string>
	<key>invisibleInjectionOrientation</key>
	<string>gridviewExceptValue</string>
	<key>routerLikeActivity</key>
	<string>advancedBulletForce</string>
	<key>storeVariableVisibility</key>
	<string>accessibleAllocatorColor</string>
</dict>
</plist>
