<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterThroughSingleton</key>
	<string>alignmentTempleIndex</string>
	<key>presenterViaStrategy</key>
	<string>streamForMediator</string>
	<key>repositoryStageCoord</key>
	<string>playbackJobDepth</string>
	<key>screenTypeTag</key>
	<string>rowSystemAppearance</string>
</dict>
</plist>
