<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleViaValue</key>
	<string>modalBesideAdapter</string>
	<key>concreteCharacterInterval</key>
	<string>offsetJobOpacity</string>
	<key>customizedResolverTail</key>
	<string>channelsPerJob</string>
	<key>mediaqueryForInterpreter</key>
	<string>tensorResponseLeft</string>
	<key>musicWithBridge</key>
	<string>rowMediatorTransparency</string>
	<key>reusableNavigatorResponse</key>
	<string>lostCellIndex</string>
	<key>signatureVarColor</key>
	<string>usedProgressbarLeft</string>
	<key>sliderParamTension</key>
	<string>logFacadeTheme</string>
</dict>
</plist>
