<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInsideActivity</key>
	<string>grainViaStyle</string>
	<key>characterBeyondComposite</key>
	<string>localExponentMargin</string>
	<key>navigatorOfChain</key>
	<string>certificateIncludePattern</string>
	<key>sinkNumberBrightness</key>
	<string>taskAboutStructure</string>
	<key>smartListviewStatus</key>
	<string>pageviewInterpreterType</string>
</dict>
</plist>
