<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAwayShape</key>
	<string>textureTypeName</string>
	<key>builderIncludeStage</key>
	<string>topicStyleInset</string>
	<key>gridProcessDelay</key>
	<string>painterBesideMethod</string>
	<key>integerWithoutProxy</key>
	<string>playbackSinceLayer</string>
	<key>layoutKindStatus</key>
	<string>mapAwayMemento</string>
	<key>liteControllerDelay</key>
	<string>repositoryContextSaturation</string>
	<key>robustAsyncTransparency</key>
	<string>dialogsTierTheme</string>
	<key>sensorInsideValue</key>
	<string>sizeOrVisitor</string>
</dict>
</plist>
