<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customAnimationIndex</key>
	<string>unaryLikeMemento</string>
	<key>flexibleRadioRight</key>
	<string>tensorStreamAlignment</string>
	<key>lazyMarginVelocity</key>
	<string>coordinatorStageFormat</string>
	<key>materialObserverSpeed</key>
	<string>hardCompositionBrightness</string>
	<key>protectedButtonRight</key>
	<string>certificateEnvironmentSpeed</string>
	<key>protectedViewOrigin</key>
	<string>sizeForStrategy</string>
	<key>requestPhaseSize</key>
	<string>sortedCallbackInterval</string>
</dict>
</plist>
