<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoBufferDelay</key>
	<string>blocWithoutFramework</string>
	<key>secondUnaryTop</key>
	<string>robustResourcePadding</string>
	<key>tabviewStrategyFormat</key>
	<string>bufferAboutDecorator</string>
	<key>tappableFactoryName</key>
	<string>geometricWorkflowTail</string>
</dict>
</plist>
