<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCupertinoStyle</key>
	<string>materialDurationDistance</string>
	<key>cosineThanContext</key>
	<string>ignoredSizeScale</string>
	<key>custompaintVisitorStatus</key>
	<string>customDecorationPressure</string>
	<key>errorStrategyAppearance</key>
	<string>agileRouteDistance</string>
	<key>uniformLogSkewy</key>
	<string>activatedExponentLeft</string>
</dict>
</plist>
