<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorCycleFormat</key>
	<string>descriptionPrototypeCenter</string>
	<key>custompaintAlongMemento</key>
	<string>sizedboxPlatformVisibility</string>
	<key>dedicatedLayerValidation</key>
	<string>storeInterpreterBound</string>
	<key>elasticAnchorSkewy</key>
	<string>unsortedContractionLeft</string>
	<key>exponentValueSkewx</key>
	<string>stateStyleTint</string>
	<key>featureLikeSystem</key>
	<string>graphSingletonValidation</string>
	<key>globalIndicatorCenter</key>
	<string>optimizerBesideStructure</string>
	<key>injectionKindLocation</key>
	<string>flexibleChartInteraction</string>
	<key>queuePhaseSkewx</key>
	<string>taskUntilDecorator</string>
	<key>singletonOperationVelocity</key>
	<string>beginnerStateFormat</string>
</dict>
</plist>
