<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roleKindResponse</key>
	<string>synchronousScreenSpacing</string>
	<key>routeAroundDecorator</key>
	<string>constraintSystemFlags</string>
	<key>timerSinceShape</key>
	<string>skirtAwayForm</string>
</dict>
</plist>
