<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianListenerTension</key>
	<string>dialogsCycleValidation</string>
	<key>commandBridgeRight</key>
	<string>skinInsidePhase</string>
	<key>constraintAlongLayer</key>
	<string>activeCoordinatorDepth</string>
	<key>entityBeyondContext</key>
	<string>errorIncludeType</string>
	<key>giftVersusFacade</key>
	<string>skinAgainstPhase</string>
	<key>logBridgeIndex</key>
	<string>oldDialogsBorder</string>
	<key>positionOutsideOperation</key>
	<string>buttonWorkColor</string>
	<key>prevViewVisibility</key>
	<string>basicShaderShade</string>
	<key>sophisticatedLayerCenter</key>
	<string>functionalReducerCenter</string>
	<key>stampPrototypeInterval</key>
	<string>gradientInsideMethod</string>
</dict>
</plist>
