<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoInsideAction</key>
	<string>stateChainCenter</string>
	<key>denseCapsuleEdge</key>
	<string>allocatorThanCycle</string>
	<key>histogramFromVariable</key>
	<string>viewVisitorBottom</string>
	<key>invisibleListviewIndex</key>
	<string>cubeWithoutScope</string>
	<key>largeSwiftFormat</key>
	<string>labelInParam</string>
	<key>localSineOrientation</key>
	<string>observerVariableCount</string>
	<key>subpixelAlongBridge</key>
	<string>rowStyleVisible</string>
</dict>
</plist>
