<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lostAnchorVisible</key>
	<string>textShapeForce</string>
	<key>otherProviderDelay</key>
	<string>animationStyleTint</string>
	<key>resolverObserverLeft</key>
	<string>crucialOperationTag</string>
	<key>retainedCallbackFeedback</key>
	<string>errorVersusFacade</string>
	<key>subscriptionTierOrientation</key>
	<string>accordionSwiftRotation</string>
</dict>
</plist>
