<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaStructureFrequency</key>
	<string>optimizerModeRight</string>
	<key>apertureOperationLocation</key>
	<string>utilValueAcceleration</string>
	<key>effectOperationCoord</key>
	<string>allocatorAtOperation</string>
	<key>entropyPatternEdge</key>
	<string>actionWithoutComposite</string>
	<key>frameFacadeType</key>
	<string>customizedOffsetVisibility</string>
	<key>fusedModulusResponse</key>
	<string>touchActivityRotation</string>
	<key>intuitiveAlignmentCenter</key>
	<string>instructionPerBuffer</string>
	<key>referenceSingletonValidation</key>
	<string>visibleChannelsCount</string>
	<key>scenePrototypeHead</key>
	<string>captionInterpreterAppearance</string>
	<key>tabviewStrategyHue</key>
	<string>durationParameterAppearance</string>
</dict>
</plist>
