<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerContainTemple</key>
	<string>tangentShapeInset</string>
	<key>integerStructurePressure</key>
	<string>skinWithoutNumber</string>
	<key>segueVersusPlatform</key>
	<string>containerSystemMomentum</string>
	<key>transitionIncludeScope</key>
	<string>channelAroundPlatform</string>
</dict>
</plist>
