<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFunctionSpacing</key>
	<string>activatedDialogsTension</string>
	<key>dedicatedCheckboxContrast</key>
	<string>opaqueGradientBrightness</string>
	<key>displayableBatchDelay</key>
	<string>rapidTextRight</string>
	<key>gramNearWork</key>
	<string>associatedSpecifierLeft</string>
	<key>widgetStyleInterval</key>
	<string>functionalCoordinatorType</string>
</dict>
</plist>
