<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRiverpodOpacity</key>
	<string>indicatorOutsideShape</string>
	<key>comprehensiveEffectSpeed</key>
	<string>playbackInTier</string>
	<key>diffableTaskVisibility</key>
	<string>featureLikeState</string>
	<key>eventModeTail</key>
	<string>custompaintJobMode</string>
	<key>gateUntilJob</key>
	<string>parallelAllocatorStatus</string>
	<key>reactiveDescriptorRotation</key>
	<string>consultativeConstraintDensity</string>
	<key>streamObserverCoord</key>
	<string>permanentQueueLeft</string>
</dict>
</plist>
