<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAdapterRight</key>
	<string>reactiveExponentAppearance</string>
	<key>localRadioTint</key>
	<string>projectionBeyondCommand</string>
	<key>navigationNearDecorator</key>
	<string>easyModalDirection</string>
	<key>progressbarLikeEnvironment</key>
	<string>completerFormTension</string>
	<key>sessionPatternRate</key>
	<string>repositoryLikeAction</string>
	<key>sophisticatedTangentState</key>
	<string>movementAmongJob</string>
	<key>swiftJobTint</key>
	<string>navigatorStateCount</string>
	<key>ternaryAsActivity</key>
	<string>utilTypeSpacing</string>
	<key>transitionContextTag</key>
	<string>unaryDuringVar</string>
	<key>tweenFrameworkMode</key>
	<string>momentumPerTemple</string>
</dict>
</plist>
