<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleContainerTop</key>
	<string>secondTransitionAcceleration</string>
	<key>elasticTransitionFormat</key>
	<string>crudeAnchorInteraction</string>
	<key>labelVersusTier</key>
	<string>contractionLevelTop</string>
</dict>
</plist>
