<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityNearActivity</key>
	<string>protectedBatchDuration</string>
	<key>expandedCommandHue</key>
	<string>buttonParameterForce</string>
	<key>gatePhaseTint</key>
	<string>textLikeSystem</string>
	<key>localBoxshadowState</key>
	<string>radiusPlatformTension</string>
	<key>multiUtilSkewy</key>
	<string>groupOperationInterval</string>
	<key>navigatorVarInteraction</key>
	<string>groupDuringSystem</string>
	<key>notificationFunctionVisible</key>
	<string>scrollableRectShade</string>
	<key>queryLevelValidation</key>
	<string>profileAsMethod</string>
	<key>scaffoldSinceBridge</key>
	<string>channelThanVariable</string>
	<key>subscriptionAndProcess</key>
	<string>opaqueSkirtDelay</string>
</dict>
</plist>
