<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInstructionRate</key>
	<string>scaffoldAwayProcess</string>
	<key>backwardContainerDistance</key>
	<string>graphInActivity</string>
	<key>menuBeyondCommand</key>
	<string>desktopCaptionInterval</string>
	<key>subscriptionCompositeDistance</key>
	<string>statefulGraphFlags</string>
	<key>zoneFromSystem</key>
	<string>allocatorEnvironmentFrequency</string>
</dict>
</plist>
