<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableDecorationValidation</key>
	<string>boxObserverTension</string>
	<key>intermediateRadioRotation</key>
	<string>topicEnvironmentInteraction</string>
	<key>iterativeVectorInset</key>
	<string>fusedMapInset</string>
	<key>largeClipperOffset</key>
	<string>accessoryOrVisitor</string>
	<key>mediumGridVelocity</key>
	<string>cupertinoManagerHead</string>
	<key>previewUntilScope</key>
	<string>projectionBesideAdapter</string>
	<key>reducerActivityLocation</key>
	<string>similarCompletionMargin</string>
	<key>standaloneScrollVisible</key>
	<string>momentumEnvironmentName</string>
	<key>workflowInterpreterShape</key>
	<string>containerFlyweightVelocity</string>
</dict>
</plist>
