<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitIncludeStage</key>
	<string>durationTaskForce</string>
	<key>channelsAndLayer</key>
	<string>chartCommandAppearance</string>
	<key>effectDuringAction</key>
	<string>statefulInkwellVelocity</string>
	<key>futurePerMemento</key>
	<string>overlayAsBridge</string>
	<key>oldCertificateFrequency</key>
	<string>providerDespiteBuffer</string>
	<key>secondExpandedCenter</key>
	<string>staticWidgetAppearance</string>
	<key>singletonSinceJob</key>
	<string>deferredDependencyDelay</string>
	<key>statelessNormTag</key>
	<string>diversifiedGesturedetectorAcceleration</string>
	<key>storageByComposite</key>
	<string>signAboutType</string>
</dict>
</plist>
