<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDirectlyEdgeStack</key>
	<string>startEuclideanCapacityDecorator</string>
	<key>getStandaloneOriginArray</key>
	<string>getHierarchicalValueFilter</string>
	<key>keepDirectlyAudioDecorator</key>
	<string>finishEphemeralStatusExtension</string>
	<key>revisitAccessibleSpriteFactory</key>
	<string>prepareStandaloneTangentGroup</string>
</dict>
</plist>
