<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computeAgileCoordObserver</key>
	<string>getGreatOpacityContainer</string>
	<key>getBackwardGrainObserver</key>
	<string>setStaticContrastManager</string>
	<key>getCrudeGateType</key>
	<string>setLargeVarFactory</string>
	<key>getGranularTempleHelper</key>
	<string>pauseDirectlyBrushCache</string>
	<key>keepSecondInterfaceObserver</key>
	<string>appendConcurrentValueStack</string>
	<key>multiplyBackwardGrayscaleManager</key>
	<string>cancelRapidTextureExtension</string>
	<key>provideSharedBufferBase</key>
	<string>stopCriticalParamInstance</string>
</dict>
</plist>
