<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getReusableParameterReference</key>
	<string>keepMissedRotationArray</string>
	<key>scheduleNormalModelGroup</key>
	<string>getStandaloneInterpolationProtocol</string>
	<key>setDisparateMechanismTarget</key>
	<string>getPrevBorderCollection</string>
	<key>setLastBufferContainer</key>
	<string>restartNumericalMenuReference</string>
</dict>
</plist>
