<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendEphemeralGridExtension</key>
	<string>skipUsedInfoObserver</string>
	<key>cancelCriticalOpacityCreator</key>
	<string>revisitResilientTimelineExtension</string>
	<key>createSingleParamObserver</key>
	<string>setRobustTempleCache</string>
	<key>findConsultativeNavigationTarget</key>
	<string>reflectAsynchronousPolyfillType</string>
	<key>getSharedBufferCollection</key>
	<string>setMediumChartStack</string>
	<key>prepareDelicateConfigurationCache</key>
	<string>mitigateAsynchronousGroupBase</string>
	<key>requestConcurrentTagGroup</key>
	<string>trainNextLabelFilter</string>
	<key>setSingleOriginGroup</key>
	<string>getMutableBinaryReference</string>
	<key>stopExplicitOriginInstance</key>
	<string>getPrimaryLabelFactory</string>
	<key>stopSubtleBufferExtension</key>
	<string>initializeCommonIntensityTarget</string>
</dict>
</plist>
