<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeSmartMatrixCollection</key>
	<string>cancelSubsequentPositionReference</string>
	<key>cloneConcurrentVectorExtension</key>
	<string>pauseDeclarativeNumberCache</string>
	<key>discoverUnactivatedPreviewContainer</key>
	<string>exitConsultativeBufferList</string>
	<key>getReusableParameterManager</key>
	<string>showRetainedTopicDecorator</string>
	<key>initializeNormalTempleProtocol</key>
	<string>getResilientMenuBase</string>
	<key>pauseRobustProjectionDecorator</key>
	<string>setOldCardType</string>
	<key>prepareLiteOpacityProtocol</key>
	<string>augmentIgnoredVolumeTarget</string>
	<key>setSmallFrameBase</key>
	<string>resumePriorSpriteDelegate</string>
</dict>
</plist>
