<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelNextLoopProtocol</key>
	<string>getCustomCycleOwner</string>
	<key>getImmutableViewPool</key>
	<string>rotateSignificantAccessoryAdapter</string>
	<key>getSortedKernelHelper</key>
	<string>addReusableEventProtocol</string>
	<key>keepPermanentBoundProtocol</key>
	<string>setSymmetricIntegerCreator</string>
	<key>pauseGreatUtilDelegate</key>
	<string>shearSubsequentBufferCache</string>
	<key>setPrismaticValueCreator</key>
	<string>reconcileConcurrentEdgeOwner</string>
	<key>setUnsortedMonsterList</key>
	<string>pauseIntermediateDimensionStack</string>
	<key>transposeBeginnerNumberCollection</key>
	<string>mitigateLocalCapacitiesContainer</string>
</dict>
</plist>
