<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getOldVariableOwner</key>
	<string>getSecondPositionOwner</string>
	<key>insteadExplicitControllerContainer</key>
	<string>appendSemanticKernelTarget</string>
	<key>locateSortedStatusHandler</key>
	<string>getHyperbolicParameterArray</string>
	<key>removeOtherSkirtReference</key>
	<string>startTensorIntensityContainer</string>
	<key>setCriticalVariableObserver</key>
	<string>startMultiInfoHelper</string>
</dict>
</plist>
