<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelNumericalTitleCache</key>
	<string>setNextVarManager</string>
	<key>getCommonNodeDelegate</key>
	<string>readLargeActivityBase</string>
	<key>insteadPriorReplicaCollection</key>
	<string>setDelicateConfigurationBase</string>
	<key>pauseCustomizedAspectPool</key>
	<string>setBackwardEfficiencyImplement</string>
	<key>prepareEnabledCoordCollection</key>
	<string>quantizerPrimaryTraversalCollection</string>
	<key>requestRetainedPlateImplement</key>
	<string>continueTypicalResultReference</string>
	<key>searchConsultativeArithmeticHelper</key>
	<string>requestKeyModuleCollection</string>
	<key>setAssociatedSkinGroup</key>
	<string>pauseSubtleParticleType</string>
	<key>setSortedBufferStack</key>
	<string>setDisplayableThresholdHelper</string>
</dict>
</plist>
