<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPivotalCurveFilter</key>
	<string>setMediumAlphaInstance</string>
	<key>keepReusableNumberBase</key>
	<string>endLocalInitiativeContainer</string>
	<key>prepareElasticRightReference</key>
	<string>startTensorBaseFactory</string>
	<key>requestSynchronousLayerDecorator</key>
	<string>setUnactivatedVisibleCreator</string>
	<key>setOpaqueProvisionImplement</key>
	<string>exitMultiNumberManager</string>
</dict>
</plist>
