<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeGranularValueGroup</key>
	<string>startEnabledValueFilter</string>
	<key>resumeUsedOptimizerType</key>
	<string>initializeMutableValueAdapter</string>
	<key>setGranularMatrixGroup</key>
	<string>finishBeginnerImpactBase</string>
	<key>skipFusedCacheCache</key>
	<string>setPublicVariableTarget</string>
</dict>
</plist>
