<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendSmallTempleManager</key>
	<string>cloneCurrentTweakImplement</string>
	<key>keepKeySkewYReference</key>
	<string>getSemanticSkinGroup</string>
	<key>locateGranularLoopFilter</key>
	<string>stopSpecifyPermutationManager</string>
	<key>setBasicActivityList</key>
	<string>resumeCommonSegmentBase</string>
	<key>setHardAlphaTarget</key>
	<string>setPivotalNodeGroup</string>
</dict>
</plist>
