<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueMainQueueBase</key>
	<string>resumeEphemeralAllocatorContainer</string>
	<key>keepNumericalVariantInstance</key>
	<string>setMediumVectorAdapter</string>
	<key>preparePrevTempleDecorator</key>
	<string>getOriginalButtonHandler</string>
	<key>pushBasicOccasionCollection</key>
	<string>endLiteInstructionHelper</string>
	<key>resumeAssociatedEqualizationGroup</key>
	<string>resumeUniqueTaskCreator</string>
	<key>setEphemeralTagAdapter</key>
	<string>unlockOriginalMusicManager</string>
	<key>setGlobalAssetType</key>
	<string>createPrismaticVariantReference</string>
	<key>skipOtherPreviewReference</key>
	<string>setPriorNameObserver</string>
</dict>
</plist>
