<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueLostIntegerContainer</key>
	<string>discoverPermissivePositionStack</string>
	<key>dropoutSemanticChecklistAdapter</key>
	<string>getNewestOpacityReference</string>
	<key>startPrismaticGraphStack</key>
	<string>pausePrismaticAllocatorStack</string>
	<key>trainLostVisibleList</key>
	<string>setImmutableTailContainer</string>
</dict>
</plist>
