<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getHyperbolicBufferManager</key>
	<string>updateUniqueIndexImplement</string>
	<key>getNumericalTextureCreator</key>
	<string>resumeStaticTempleCollection</string>
	<key>getPrevResourceCollection</key>
	<string>stopLostCapacitiesCollection</string>
	<key>setEuclideanBottomInstance</key>
	<string>keepSmallBaselineInstance</string>
	<key>setIntuitiveGraphicFactory</key>
	<string>setOldVariableManager</string>
</dict>
</plist>
