<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDelicateTextureProtocol</key>
	<string>retrieveEasyOpacityList</string>
	<key>endSophisticatedBaselineHelper</key>
	<string>setSeamlessTagTarget</string>
	<key>getGranularZoneHelper</key>
	<string>getCommonSceneHandler</string>
	<key>markMediumVolumeFactory</key>
	<string>getStandaloneHistogramGroup</string>
	<key>setMainSpriteArray</key>
	<string>setPivotalDialogsFilter</string>
	<key>setSubtleColorCreator</key>
	<string>getHardLoopObserver</string>
	<key>skipSmallTrianglesTarget</key>
	<string>readMediocreMissionTarget</string>
	<key>startOtherColorTarget</key>
	<string>pauseSubstantialTempleCreator</string>
	<key>trainProtectedSkewYBase</key>
	<string>setLastVariableFactory</string>
	<key>trainSophisticatedDepthImplement</key>
	<string>readSpecifyReliabilityHelper</string>
</dict>
</plist>
