<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convertSortedColorGroup</key>
	<string>finishBackwardSizeCreator</string>
	<key>decoupleAccessibleVariableType</key>
	<string>animateIntuitiveColorFilter</string>
	<key>endGranularTextureCollection</key>
	<string>getSimilarBorderOwner</string>
	<key>finishDenseVolumeProtocol</key>
	<string>prepareOpaqueImpressionHelper</string>
	<key>freeReusableGrainManager</key>
	<string>convertSeamlessLogarithmExtension</string>
	<key>getLostVariableBase</key>
	<string>visitIterativeVariableReference</string>
	<key>playDelicateGroupReference</key>
	<string>associateSemanticParticleOwner</string>
	<key>removeEuclideanBufferGroup</key>
	<string>startDisparateGridFilter</string>
	<key>restartGlobalNumberFilter</key>
	<string>getGeometricValueType</string>
	<key>restartSubsequentLayerDecorator</key>
	<string>finishSubstantialEdgeBase</string>
</dict>
</plist>
