<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelHyperbolicBoundDelegate</key>
	<string>captureLostStyleCreator</string>
	<key>compareGlobalSkewXOwner</key>
	<string>shearDenseIndexTarget</string>
	<key>getDenseVariableList</key>
	<string>setPermissiveAspectInstance</string>
	<key>getSimilarClusterType</key>
	<string>finishEnabledCenterCreator</string>
	<key>restartUniqueRecursionCollection</key>
	<string>getMultiNameCollection</string>
	<key>resumeIntuitiveEqualizationStack</key>
	<string>divideKeyMenuManager</string>
	<key>resumeLocalValueGroup</key>
	<string>restartIntuitiveLeftCreator</string>
	<key>setCustomizedIntegrityFactory</key>
	<string>displayAsynchronousGrainFilter</string>
	<key>setHierarchicalSkewYBase</key>
	<string>generateConcreteMenuBase</string>
	<key>stopDeclarativeChannelsType</key>
	<string>trainEasyMetadataProtocol</string>
</dict>
</plist>
