<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateDedicatedCenterManager</key>
	<string>continueCommonMasterCache</string>
	<key>scheduleStaticValueHandler</key>
	<string>resumeUniformParameterReference</string>
	<key>setNextProfileObserver</key>
	<string>getUniformIntensityFilter</string>
	<key>trainRequiredGraphManager</key>
	<string>resumeAsynchronousViewOwner</string>
	<key>updateIntuitiveMissionPool</key>
	<string>startAgileRightObserver</string>
</dict>
</plist>
