<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawCartesianSegmentArray</key>
	<string>continueGreatBoundStack</string>
	<key>endEnabledLoopTarget</key>
	<string>startLastTempleFilter</string>
	<key>getLostIntegrityReference</key>
	<string>locateSharedVariableStack</string>
	<key>getPublicVisibleDecorator</key>
	<string>createCriticalMeshDelegate</string>
	<key>initializeUsedParamInstance</key>
	<string>restartAssociatedNumberTarget</string>
	<key>keepCartesianCycleReference</key>
	<string>getDiscardedIntegrationObserver</string>
	<key>rotateConsultativeEffectExtension</key>
	<string>touchReusableSpriteList</string>
	<key>startPriorEdgePool</key>
	<string>writeGlobalRotationOwner</string>
</dict>
</plist>
