<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishBackwardScopeReference</key>
	<string>continueGranularVariableFactory</string>
	<key>getCommonGrainGroup</key>
	<string>setConcreteChartTarget</string>
	<key>keepPriorIndexHelper</key>
	<string>endDedicatedOpacityCreator</string>
	<key>makeLostParameterTarget</key>
	<string>setBackwardTempleAdapter</string>
	<key>multiplyReusableSceneExtension</key>
	<string>updatePriorVisibleOwner</string>
	<key>pauseIntuitiveLabelObserver</key>
	<string>getEuclideanRowObserver</string>
	<key>resetEuclideanVariableList</key>
	<string>visitAutoBufferCache</string>
	<key>setHierarchicalCenterObserver</key>
	<string>getRequiredIntegrityType</string>
	<key>showMediocreAnalogyPool</key>
	<string>getMutableSubpixelHandler</string>
	<key>touchRelationalTempleTarget</key>
	<string>keepCurrentSkewYCache</string>
</dict>
</plist>
