<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendDelicateMaterialCache</key>
	<string>getActivatedScenarioInstance</string>
	<key>discoverCustomizedLeftAdapter</key>
	<string>endPrevSineTarget</string>
	<key>finishSubtleMechanismDecorator</key>
	<string>resumeNewestTagContainer</string>
	<key>holdEnabledHeadFactory</key>
	<string>syncOpaqueCoordCollection</string>
	<key>reflectAssociatedTempleHelper</key>
	<string>encapsulateGranularZoneStack</string>
	<key>refreshUniformMeshDecorator</key>
	<string>getCrudeDisclaimerList</string>
	<key>restartUnsortedMenuCache</key>
	<string>startTypicalHeadFactory</string>
</dict>
</plist>
