<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateCriticalSliderCollection</key>
	<string>endProtectedCursorInstance</string>
	<key>continueDeclarativeVarCache</key>
	<string>eraseGeometricIndexCache</string>
	<key>continueSortedDescriptionType</key>
	<string>stopDelicateFeatureExtension</string>
	<key>divideSophisticatedSkewXHelper</key>
	<string>poolArithmeticCurveStack</string>
	<key>getCartesianDescentFactory</key>
	<string>endImmutableFeatureDelegate</string>
	<key>getDirectParameterImplement</key>
	<string>enumerateDisplayableHeapCollection</string>
	<key>initializeTensorStyleType</key>
	<string>readDiversifiedMetricsHelper</string>
	<key>setHierarchicalSignOwner</key>
	<string>keepRetainedRotationContainer</string>
	<key>setPriorVarAdapter</key>
	<string>readGlobalBoundArray</string>
</dict>
</plist>
