<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encapsulateStaticValueGroup</key>
	<string>visitOldGraphObserver</string>
	<key>executeFirstParameterCache</key>
	<string>pauseIgnoredNumberImplement</string>
	<key>getCurrentMatrixDelegate</key>
	<string>unscheduleFirstStyleContainer</string>
	<key>keepStandaloneTextureExtension</key>
	<string>pauseNextTrajectoryBase</string>
	<key>rectifyLiteTextExtension</key>
	<string>unlockActivatedShaderType</string>
	<key>replaceSubtleLayoutObserver</key>
	<string>reconcilePublicIndexType</string>
	<key>setImmutableInterfaceTarget</key>
	<string>startArithmeticRightPool</string>
</dict>
</plist>
