<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformDiscardedPopupType</key>
	<string>setKeyVariantGroup</string>
	<key>limitSharedResilienceManager</key>
	<string>touchAdvancedValueList</string>
	<key>regulatePublicBoundDecorator</key>
	<string>skipAssociatedGraphDelegate</string>
	<key>setCriticalConstantCreator</key>
	<string>executeRetainedInitiatorsArray</string>
	<key>startDedicatedVariableObserver</key>
	<string>setFirstFrameExtension</string>
	<key>stopGranularChartCreator</key>
	<string>getRelationalParamHelper</string>
	<key>stopRapidVisibleCache</key>
	<string>getMultiIndexReference</string>
	<key>syncConcurrentProfileHandler</key>
	<string>getIntermediateTempleHelper</string>
</dict>
</plist>
