<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reflectDenseVarGroup</key>
	<string>pauseConcreteVideoImplement</string>
	<key>reflectRapidBorderCollection</key>
	<string>pauseOldParameterArray</string>
	<key>setOpaqueMaterialCache</key>
	<string>continueSmallMasterPool</string>
	<key>stopPublicTaskManager</key>
	<string>setNewestNumberHelper</string>
	<key>trainDenseChapterDelegate</key>
	<string>offsetUniformStatusExtension</string>
</dict>
</plist>
