<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeMainPositionStack</key>
	<string>setSignificantMovementHelper</string>
	<key>showEnabledQueueArray</key>
	<string>getFusedBehaviorBase</string>
</dict>
</plist>
