<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareResilientShapeHandler</key>
	<string>keepOldImpactGroup</string>
	<key>endConcurrentRowFactory</key>
	<string>animateUsedPreviewManager</string>
	<key>finishEphemeralVariableFilter</key>
	<string>trainGlobalStatusFactory</string>
	<key>getMutableIndexObserver</key>
	<string>setSharedButtonAdapter</string>
	<key>pushArithmeticPermutationType</key>
	<string>initializeLargeDepthHandler</string>
	<key>revisitDelicateParticleCollection</key>
	<string>visitHardEffectDelegate</string>
	<key>setImmutableArchitectureReference</key>
	<string>getPermissiveChapterImplement</string>
</dict>
</plist>
