<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createLostBufferContainer</key>
	<string>updateSpecifySkewYCreator</string>
	<key>finishCommonResultDecorator</key>
	<string>pauseDifficultTrianglesManager</string>
	<key>regulateOtherHeroOwner</key>
	<string>continuePrimaryThreadReference</string>
	<key>renameNewestColorType</key>
	<string>restartAgileNumberHelper</string>
	<key>setAssociatedEffectBase</key>
	<string>getRequiredIntegrityPool</string>
	<key>setHierarchicalTopicHelper</key>
	<string>setHyperbolicCubeList</string>
	<key>trainSeamlessTextureCache</key>
	<string>continuePublicViewCreator</string>
</dict>
</plist>
