<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateSubtleTailDecorator</key>
	<string>continuePrimaryPriorityDelegate</string>
	<key>getPrimaryTentativeGroup</key>
	<string>endAutoLoaderCreator</string>
	<key>getPriorGraphOwner</key>
	<string>trainAgileReductionHelper</string>
	<key>keepDisparateContrastFactory</key>
	<string>stopKeyAnalogyProtocol</string>
</dict>
</plist>
