<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeIntuitiveParamAdapter</key>
	<string>resumeSubstantialOperationBase</string>
	<key>finishNormalNumberExtension</key>
	<string>offsetEasyAnchorObserver</string>
	<key>getConcreteSizeAdapter</key>
	<string>continueRobustVisibleObserver</string>
	<key>getPrimaryPolyfillBase</key>
	<string>finishPivotalChartTarget</string>
	<key>obtainPublicTempleFactory</key>
	<string>retrieveDirectNodeCache</string>
	<key>prepareDedicatedBufferPool</key>
	<string>stopProtectedAlphaManager</string>
	<key>quitConcreteTempleManager</key>
	<string>decoupleFirstSampleExtension</string>
</dict>
</plist>
