<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endPivotalActionReference</key>
	<string>finishOtherFrameHandler</string>
	<key>exitCrucialParameterOwner</key>
	<string>getLostMaterialHandler</string>
	<key>finishRapidColorOwner</key>
	<string>stopIntermediateVectorObserver</string>
	<key>limitDiversifiedMetadataFactory</key>
	<string>setStandaloneParamHandler</string>
	<key>prepareMutableTitlePool</key>
	<string>setMediumCycleHandler</string>
	<key>quantizationLiteTextureCollection</key>
	<string>pauseMissedFrameCache</string>
	<key>setIntermediateIntensityTarget</key>
	<string>finishExplicitConstantProtocol</string>
	<key>setSemanticConfigurationManager</key>
	<string>unscheduleCommonScenarioCache</string>
	<key>wrapStandaloneVisibleFactory</key>
	<string>scheduleProtectedSkewYTarget</string>
</dict>
</plist>
