<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelUniformHashType</key>
	<string>discoverCriticalDurationObserver</string>
	<key>endDifficultOccasionCollection</key>
	<string>detachPivotalVarBase</string>
	<key>endUnsortedGrayscaleFilter</key>
	<string>skipIndependentBufferBase</string>
	<key>floatAutoHistogramType</key>
	<string>getDeclarativePolyfillExtension</string>
	<key>optimizeMultiParamObserver</key>
	<string>skipBasicDescriptionCache</string>
	<key>setOldUtilInstance</key>
	<string>introspectMutableTextOwner</string>
	<key>setPermissiveTempleReference</key>
	<string>endCustomizedEqualizationObserver</string>
	<key>stopLocalLoaderImplement</key>
	<string>stopSharedBufferFilter</string>
	<key>updateActivatedNumberImplement</key>
	<string>markDenseScenarioGroup</string>
</dict>
</plist>
