<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkOldBorderList</key>
	<string>parseSubtleUtilObserver</string>
	<key>keepIntermediateEdgeArray</key>
	<string>poolReusableParticleType</string>
	<key>setCriticalElementDelegate</key>
	<string>getPrimaryGramImplement</string>
	<key>skipTensorNameList</key>
	<string>cleanDiversifiedMapHelper</string>
</dict>
</plist>
