<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateRelationalIndexImplement</key>
	<string>initializeSemanticActionFilter</string>
	<key>dissociateUniqueParamHandler</key>
	<string>exitNewestBufferCollection</string>
	<key>getGreatOriginExtension</key>
	<string>setSemanticNameHelper</string>
	<key>getRobustTaxonomyDecorator</key>
	<string>restartLargeBufferDelegate</string>
</dict>
</plist>
