<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>differentiateMissedFragmentPool</key>
	<string>limitPermissivePlaybackCreator</string>
	<key>getDirectlyHeadProtocol</key>
	<string>introspectMediumStampList</string>
	<key>getRetainedCosineImplement</key>
	<string>getSingleScopeFilter</string>
	<key>getSubtleItemHelper</key>
	<string>cancelIntermediateZoneObserver</string>
	<key>setConcurrentMaterialTarget</key>
	<string>getUniformBottomTarget</string>
	<key>setDirectPreviewFactory</key>
	<string>pauseStaticDeliveryList</string>
	<key>setLargeInitiativeManager</key>
	<string>setDedicatedAlphaDecorator</string>
	<key>setSubsequentBorderManager</key>
	<string>lockPriorRendererImplement</string>
	<key>stopCurrentTextureType</key>
	<string>pauseGranularMetricsArray</string>
</dict>
</plist>
