<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endSemanticConfigurationStack</key>
	<string>rotateSymmetricTailArray</string>
	<key>getSecondFeatureArray</key>
	<string>aggregateSignificantBoundManager</string>
	<key>keepFirstInitiativeCollection</key>
	<string>scheduleRapidBufferAdapter</string>
	<key>setPriorColorGroup</key>
	<string>getUnactivatedValueFactory</string>
	<key>spinPermanentArchitectureOwner</key>
	<string>cloneSingleRendererObserver</string>
</dict>
</plist>
