<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerGateTransparency</key>
	<string>errorContextAcceleration</string>
	<key>callbackTaskBottom</key>
	<string>specifyResourceDirection</string>
	<key>cellChainTag</key>
	<string>asyncAlphaLocation</string>
	<key>permissiveSliderKind</key>
	<string>popupAsChain</string>
	<key>presenterPhaseLocation</key>
	<string>unactivatedActivityMomentum</string>
	<key>seguePerBridge</key>
	<string>entityDuringSystem</string>
	<key>standaloneResolverEdge</key>
	<string>difficultLossFormat</string>
	<key>stateAroundCommand</key>
	<string>metadataFlyweightInterval</string>
	<key>topicSinceFacade</key>
	<string>threadContextFlags</string>
</dict>
</plist>
