<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentModeTension</key>
	<string>arithmeticProcessIndex</string>
	<key>catalystInParam</key>
	<string>commandProxyResponse</string>
	<key>checklistByStyle</key>
	<string>inactiveTweenEdge</string>
	<key>dependencyPlatformInteraction</key>
	<string>rowViaVariable</string>
	<key>responseSingletonOpacity</key>
	<string>reducerModePressure</string>
	<key>viewMethodInterval</key>
	<string>widgetTempleStyle</string>
</dict>
</plist>
