<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardExponentScale</key>
	<string>beginnerTextAlignment</string>
	<key>dedicatedParticleForce</key>
	<string>riverpodSingletonInset</string>
	<key>gestureAtComposite</key>
	<string>requestValueOrigin</string>
	<key>offsetTaskDelay</key>
	<string>prismaticControllerRight</string>
	<key>opaqueServiceBorder</key>
	<string>liteSymbolTheme</string>
	<key>queryMementoCount</key>
	<string>reductionNumberFeedback</string>
	<key>resolverOutsideVisitor</key>
	<string>unactivatedChartInteraction</string>
</dict>
</plist>
