<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleScreenDuration</key>
	<string>statelessForLevel</string>
	<key>comprehensiveDocumentTransparency</key>
	<string>directRequestCenter</string>
	<key>displayableCachePadding</key>
	<string>tabbarActivityPadding</string>
	<key>imageTypeContrast</key>
	<string>injectionInMemento</string>
	<key>intuitiveSkinIndex</key>
	<string>factoryThanFramework</string>
	<key>rowIncludeTier</key>
	<string>normLayerHead</string>
	<key>sceneInFacade</key>
	<string>usedProviderIndex</string>
</dict>
</plist>
