<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedModulusTint</key>
	<string>scrollableRequestHead</string>
	<key>expandedPhaseEdge</key>
	<string>intensityInSingleton</string>
	<key>gradientMementoOrientation</key>
	<string>observerFunctionSpacing</string>
	<key>usageStageSpeed</key>
	<string>scaleFunctionState</string>
</dict>
</plist>
