<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitStyleKind</key>
	<string>mapIncludeVar</string>
	<key>custompaintAsComposite</key>
	<string>channelsDuringPlatform</string>
	<key>isolateFormName</key>
	<string>gesturedetectorInsideStructure</string>
	<key>lossAndPhase</key>
	<string>constSwitchMode</string>
	<key>widgetMethodFlags</key>
	<string>indicatorCompositeRotation</string>
</dict>
</plist>
