<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAmongPhase</key>
	<string>keySubscriptionTail</string>
	<key>disabledAsyncDensity</key>
	<string>isolateFormScale</string>
	<key>methodActionRotation</key>
	<string>mediaqueryWithoutShape</string>
	<key>presenterDespiteStrategy</key>
	<string>behaviorBesidePrototype</string>
	<key>presenterIncludeObserver</key>
	<string>layoutAroundValue</string>
	<key>providerFrameworkIndex</key>
	<string>difficultColumnSkewy</string>
	<key>topicInterpreterPosition</key>
	<string>subsequentCubitTheme</string>
</dict>
</plist>
