<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleFacadeFormat</key>
	<string>positionContainEnvironment</string>
	<key>delegateDecoratorRight</key>
	<string>missionStrategyLeft</string>
	<key>effectFromPhase</key>
	<string>originalNormPadding</string>
	<key>mediaqueryAtTask</key>
	<string>actionFromAdapter</string>
	<key>providerFromPrototype</key>
	<string>consultativeMetadataDistance</string>
	<key>rectOutsideVar</key>
	<string>ignoredSingletonLeft</string>
	<key>relationalRepositorySpeed</key>
	<string>nextPositionContrast</string>
	<key>spriteAroundObserver</key>
	<string>resourceStructureFeedback</string>
	<key>stackOutsideFacade</key>
	<string>deferredWidgetShade</string>
	<key>viewTypeVelocity</key>
	<string>assetAsVisitor</string>
</dict>
</plist>
