<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocContainCycle</key>
	<string>mediocreToolDuration</string>
	<key>enabledBitrateRight</key>
	<string>mediocreDocumentVisibility</string>
	<key>ephemeralBasePressure</key>
	<string>routerVersusKind</string>
	<key>grainOrBuffer</key>
	<string>requestFlyweightShade</string>
	<key>oldBinaryType</key>
	<string>layerOutsideType</string>
	<key>referenceJobLocation</key>
	<string>publicViewSize</string>
	<key>resolverOutsideVar</key>
	<string>vectorValuePosition</string>
</dict>
</plist>
