<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitViaComposite</key>
	<string>drawerStructureEdge</string>
	<key>buttonSystemSize</key>
	<string>tangentLevelOpacity</string>
	<key>cardMediatorTheme</key>
	<string>containerAgainstCommand</string>
	<key>configurationBesideContext</key>
	<string>rapidAspectratioVisible</string>
	<key>dependencyForDecorator</key>
	<string>euclideanBlocRight</string>
	<key>desktopExceptionFrequency</key>
	<string>queueParamColor</string>
	<key>diversifiedIndicatorBottom</key>
	<string>dialogsVisitorInteraction</string>
	<key>layoutObserverHead</key>
	<string>specifySpriteDuration</string>
	<key>newestFactoryAcceleration</key>
	<string>mobileStepInset</string>
	<key>significantCompleterAcceleration</key>
	<string>scrollAmongFramework</string>
</dict>
</plist>
