<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionVariableSpacing</key>
	<string>greatSegueFeedback</string>
	<key>durationModeValidation</key>
	<string>positionTaskRight</string>
	<key>eventChainShape</key>
	<string>cupertinoFlyweightHead</string>
	<key>mobileBeyondSystem</key>
	<string>equalizationMethodShape</string>
	<key>nibFunctionResponse</key>
	<string>firstButtonLocation</string>
	<key>pageviewMethodTransparency</key>
	<string>interactorIncludeDecorator</string>
	<key>sessionShapeStatus</key>
	<string>backwardNodeHead</string>
</dict>
</plist>
