<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeArithmeticKind</key>
	<string>stepContainFacade</string>
	<key>richtextFunctionPadding</key>
	<string>globalSlashAppearance</string>
	<key>riverpodFrameworkInteraction</key>
	<string>oldReferenceOpacity</string>
	<key>viewByWork</key>
	<string>largeCurveEdge</string>
</dict>
</plist>
