<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCapacitiesSkewy</key>
	<string>routePrototypeFormat</string>
	<key>listenerKindStatus</key>
	<string>hyperbolicStoreShade</string>
	<key>nextSinkForce</key>
	<string>usecaseShapeHead</string>
	<key>offsetAtJob</key>
	<string>greatStoreTail</string>
	<key>persistentFragmentTag</key>
	<string>routerParamSpacing</string>
	<key>radioDuringWork</key>
	<string>standaloneCompletionCoord</string>
	<key>sizeBufferCoord</key>
	<string>mediaValueFormat</string>
	<key>slashPhaseFeedback</key>
	<string>crudeHistogramOrigin</string>
	<key>streamShapeFlags</key>
	<string>finalGridviewShape</string>
	<key>timerDuringPlatform</key>
	<string>assetPatternCoord</string>
</dict>
</plist>
