<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryActivityValidation</key>
	<string>drawerPrototypeBound</string>
	<key>brushTierBottom</key>
	<string>scrollStructureForce</string>
	<key>reductionOperationOrigin</key>
	<string>normalCubitShade</string>
	<key>repositoryForPattern</key>
	<string>cycleOutsideInterpreter</string>
	<key>singleServiceTint</key>
	<string>firstZoneTint</string>
</dict>
</plist>
