<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedStreamVisible</key>
	<string>consumerSingletonIndex</string>
	<key>commonScaffoldKind</key>
	<string>criticalButtonSkewx</string>
	<key>gridLikePrototype</key>
	<string>localizationSinceVariable</string>
	<key>gridviewParameterFormat</key>
	<string>behaviorSingletonDensity</string>
	<key>multiLabelCount</key>
	<string>marginParameterFeedback</string>
	<key>textLikeState</key>
	<string>prevMatrixColor</string>
</dict>
</plist>
