<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationActivityCenter</key>
	<string>agileInjectionBottom</string>
	<key>basicOffsetShape</key>
	<string>offsetScopeSpeed</string>
	<key>coordinatorDespiteMode</key>
	<string>commandTypeDistance</string>
	<key>delegateThanChain</key>
	<string>substantialGridviewSkewx</string>
	<key>pinchableCupertinoStyle</key>
	<string>layerFrameworkTension</string>
	<key>pinchableNavigationLocation</key>
	<string>labelUntilFramework</string>
	<key>referenceNumberMomentum</key>
	<string>heroShapeLocation</string>
	<key>sinkTaskFeedback</key>
	<string>tabbarThroughActivity</string>
	<key>statelessParticleLocation</key>
	<string>richtextModeFrequency</string>
	<key>timerAboutInterpreter</key>
	<string>entityValueRight</string>
</dict>
</plist>
