<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDrawerTint</key>
	<string>discardedMissionSkewx</string>
	<key>captionShapeFlags</key>
	<string>referenceStrategyRight</string>
	<key>channelPerState</key>
	<string>optimizerBufferSkewx</string>
	<key>durationPlatformTag</key>
	<string>denseTabviewKind</string>
	<key>gemDespiteStage</key>
	<string>animationTaskSkewx</string>
	<key>methodMementoFlags</key>
	<string>consultativeResultOffset</string>
	<key>navigatorAgainstLayer</key>
	<string>textfieldWithVar</string>
	<key>queryStateFrequency</key>
	<string>taskFromSingleton</string>
</dict>
</plist>
