<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTypeSize</key>
	<string>borderMementoCount</string>
	<key>blocBufferSpeed</key>
	<string>buttonMethodPosition</string>
	<key>concurrentCupertinoTop</key>
	<string>widgetCommandTag</string>
	<key>containerAroundEnvironment</key>
	<string>assetIncludeParameter</string>
	<key>cupertinoStyleFeedback</key>
	<string>accessoryWithVisitor</string>
	<key>getxCycleDistance</key>
	<string>factoryTaskForce</string>
	<key>heapShapeSpeed</key>
	<string>directlyAsyncDensity</string>
	<key>operationLevelState</key>
	<string>independentPresenterCoord</string>
	<key>providerAndForm</key>
	<string>topicExceptStructure</string>
	<key>spotAwayStructure</key>
	<string>inkwellOutsideStage</string>
</dict>
</plist>
