<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCompositionPosition</key>
	<string>reductionIncludeTask</string>
	<key>catalystStrategyTop</key>
	<string>backwardStreamPadding</string>
	<key>exceptionScopeIndex</key>
	<string>allocatorFormKind</string>
	<key>mediumMusicMargin</key>
	<string>symmetricLayerCenter</string>
	<key>sortedMonsterAppearance</key>
	<string>mapProxyBehavior</string>
	<key>viewThanComposite</key>
	<string>injectionMethodVisibility</string>
</dict>
</plist>
