<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileThroughForm</key>
	<string>backwardRadiusDepth</string>
	<key>originalGridviewVisible</key>
	<string>effectJobOrigin</string>
	<key>originalSymbolAppearance</key>
	<string>spriteViaBridge</string>
	<key>otherEntityValidation</key>
	<string>rowAdapterScale</string>
</dict>
</plist>
