<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxOrPrototype</key>
	<string>techniqueContextTension</string>
	<key>curveLayerTint</key>
	<string>textProxyBottom</string>
	<key>dynamicCurveMode</key>
	<string>sharedFeatureKind</string>
	<key>factoryAtValue</key>
	<string>controllerPrototypeVisibility</string>
	<key>menuStateDistance</key>
	<string>responsiveBulletTheme</string>
	<key>nativeResourceRotation</key>
	<string>radiusFacadeSkewx</string>
	<key>repositoryAwaySingleton</key>
	<string>grainStateVelocity</string>
	<key>resultContextContrast</key>
	<string>stampModeTransparency</string>
</dict>
</plist>
