<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureAlongKind</key>
	<string>streamBeyondInterpreter</string>
	<key>globalSubscriptionTension</key>
	<string>sortedResolverSkewy</string>
	<key>missedBoxBound</key>
	<string>exceptionBeyondWork</string>
	<key>particleOfForm</key>
	<string>clipperShapeLocation</string>
</dict>
</plist>
