<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionReductionAcceleration</key>
	<string>scaffoldProcessAcceleration</string>
	<key>cacheWithPlatform</key>
	<string>reducerLevelSpacing</string>
	<key>expandedStructureBorder</key>
	<string>ephemeralPreviewDistance</string>
	<key>functionalObserverBrightness</key>
	<string>configurationSinceSystem</string>
	<key>giftViaStyle</key>
	<string>autoExtensionBound</string>
	<key>layoutByFacade</key>
	<string>commonQueryContrast</string>
	<key>radioTierMode</key>
	<string>kernelVisitorMargin</string>
</dict>
</plist>
