<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationNumberAcceleration</key>
	<string>difficultPreviewSkewy</string>
	<key>baselinePatternColor</key>
	<string>relationalDelegateVelocity</string>
	<key>consultativeLogarithmLocation</key>
	<string>coordinatorParameterDuration</string>
	<key>descriptorOperationDistance</key>
	<string>unsortedErrorSize</string>
	<key>lastGridVisible</key>
	<string>cubeEnvironmentName</string>
	<key>numericalCubitDuration</key>
	<string>textContextIndex</string>
	<key>opaquePromiseRight</key>
	<string>autoTweenSpeed</string>
	<key>specifierThanChain</key>
	<string>cupertinoFrameworkOffset</string>
	<key>streamThanFunction</key>
	<string>smallTimerOpacity</string>
	<key>swiftExceptVisitor</key>
	<string>promiseAdapterBehavior</string>
</dict>
</plist>
