<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedSceneMode</key>
	<string>lostSpotBound</string>
	<key>inactiveBuilderState</key>
	<string>usedEntityInteraction</string>
	<key>publicCacheDirection</key>
	<string>normalGraphHead</string>
	<key>resolverPlatformPosition</key>
	<string>diversifiedBitrateSpacing</string>
	<key>resultSincePlatform</key>
	<string>uniformRectOrientation</string>
	<key>signatureLikeChain</key>
	<string>protocolNearProxy</string>
	<key>sineForWork</key>
	<string>queueParameterMomentum</string>
	<key>tabviewLevelRight</key>
	<string>delegateModeSpeed</string>
	<key>transitionExceptForm</key>
	<string>easyUsecaseTail</string>
</dict>
</plist>
