<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerAndMethod</key>
	<string>fixedEffectVisible</string>
	<key>largeSignatureFlags</key>
	<string>sharedBatchOffset</string>
	<key>lossCompositeDensity</key>
	<string>singleCapacitiesCoord</string>
	<key>sineInsideMemento</key>
	<string>marginAndAction</string>
	<key>sinePrototypeSpacing</key>
	<string>interfaceParameterPosition</string>
</dict>
</plist>
