<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCommandDistance</key>
	<string>dialogsAboutLayer</string>
	<key>advancedScaffoldVelocity</key>
	<string>screenActivityOpacity</string>
	<key>canvasViaStage</key>
	<string>controllerAmongMode</string>
	<key>contractionNearBridge</key>
	<string>interpolationAsAdapter</string>
	<key>cursorTierSaturation</key>
	<string>durationTaskSaturation</string>
	<key>interfaceAdapterVisibility</key>
	<string>rowAtFramework</string>
	<key>invisibleTransformerOrigin</key>
	<string>instructionModeSaturation</string>
	<key>multiplicationCycleLocation</key>
	<string>persistentLayerOpacity</string>
	<key>similarRouterRight</key>
	<string>spineThanStage</string>
	<key>staticExponentSkewy</key>
	<string>similarDialogsTheme</string>
</dict>
</plist>
