<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extendConsultativeFragmentManager</key>
	<string>replaceBackwardVectorCreator</string>
	<key>freeSortedStyleTarget</key>
	<string>rotateEnabledParamInstance</string>
	<key>getGlobalTentativeTarget</key>
	<string>setConsultativeScaleExtension</string>
	<key>getGreatValueHandler</key>
	<string>getUnsortedVarManager</string>
	<key>getUniformTempleImplement</key>
	<string>getStandaloneActivityHelper</string>
	<key>markAccordionAnchorAdapter</key>
	<string>freePrimarySchedulerList</string>
	<key>optimizePrismaticBufferAdapter</key>
	<string>endAccessibleCenterReference</string>
	<key>restartPivotalMatrixProtocol</key>
	<string>cancelBackwardGrayscaleExtension</string>
	<key>setRelationalLoopBase</key>
	<string>aggregateHyperbolicParameterStack</string>
	<key>stopSignificantVariableDelegate</key>
	<string>allocateMediumPaddingManager</string>
</dict>
</plist>
