<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMediumFeatureHelper</key>
	<string>retainProtectedListenerArray</string>
	<key>getActivatedStampImplement</key>
	<string>setNextParticleStack</string>
	<key>getSophisticatedVarHandler</key>
	<string>getSmartVariableHandler</string>
	<key>unscheduleFirstAssetFactory</key>
	<string>skipIgnoredProjectReference</string>
</dict>
</plist>
