<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generateEphemeralTagCollection</key>
	<string>syncDiversifiedSizeHandler</string>
	<key>getAccordionConfigurationType</key>
	<string>makeDisplayableOriginFilter</string>
	<key>getDisplayableTempleInstance</key>
	<string>setMutableHashGroup</string>
	<key>getLargeVariableInstance</key>
	<string>getDeclarativeLeftInstance</string>
	<key>getUniformBoundCache</key>
	<string>keepLostTraversalPool</string>
	<key>setPrevSkinContainer</key>
	<string>divideAutoLeftGroup</string>
</dict>
</plist>
