<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAccordionNameCreator</key>
	<string>reflectTensorTimelineHelper</string>
	<key>embedDeclarativeParamInstance</key>
	<string>appendRequiredOpacityFactory</string>
	<key>getPermissiveTemplePool</key>
	<string>getIntermediateRotationType</string>
	<key>setIntuitiveEffectProtocol</key>
	<string>getLostOptionAdapter</string>
	<key>showUnsortedHashStack</key>
	<string>setDiscardedVisibleFactory</string>
	<key>stopRequiredVarCreator</key>
	<string>aggregateSynchronousFragmentsTarget</string>
</dict>
</plist>
