<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getIndependentResultExtension</key>
	<string>setMediumVariableDelegate</string>
	<key>getRequiredSkewXCache</key>
	<string>resizeSharedSchedulerOwner</string>
	<key>getUsedLabelDecorator</key>
	<string>setPrimaryOptionManager</string>
	<key>keepDedicatedDescriptionList</key>
	<string>startPrismaticVarContainer</string>
	<key>restartBasicClusterType</key>
	<string>playTensorBinaryExtension</string>
	<key>retrieveDiscardedBufferDelegate</key>
	<string>getIndependentTextObserver</string>
	<key>setMediumNamePool</key>
	<string>setFirstVectorPool</string>
	<key>setNewestTopCache</key>
	<string>getSimilarZoneFilter</string>
	<key>syncCurrentNotationList</key>
	<string>clearPrimaryBehaviorType</string>
</dict>
</plist>
