<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCartesianTempleOwner</key>
	<string>calculateIndependentParameterTarget</string>
	<key>cloneOtherVarInstance</key>
	<string>provideAssociatedDescriptionStack</string>
	<key>finishOpaqueInitiativeContainer</key>
	<string>eraseArithmeticGroupCollection</string>
	<key>getDirectlyNumberCache</key>
	<string>getMutableInfoOwner</string>
	<key>getSustainableParameterArray</key>
	<string>enumerateRelationalGrainReference</string>
	<key>moveActivatedThreadDelegate</key>
	<string>getHardFlagsList</string>
</dict>
</plist>
