<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embraceEuclideanInformationAdapter</key>
	<string>parseExplicitLayerDelegate</string>
	<key>restartMediocreVarTarget</key>
	<string>renamePrevTempleStack</string>
	<key>stopGlobalScaleArray</key>
	<string>finishTensorEquivalentCreator</string>
	<key>trainCustomizedTailProtocol</key>
	<string>continueCartesianValueGroup</string>
</dict>
</plist>
