<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addLargeProjectionInstance</key>
	<string>destroyActivatedStateDecorator</string>
	<key>endMutableNumberImplement</key>
	<string>endCustomizedAccessoryObserver</string>
	<key>getSemanticVariableObserver</key>
	<string>getImmutableInteractionCreator</string>
	<key>keepPrevSliderDecorator</key>
	<string>detachOriginalTextureCache</string>
	<key>restartSemanticChapterPool</key>
	<string>getCrudeSegmentObserver</string>
	<key>setDiscardedCycleDecorator</key>
	<string>getSynchronousFrameDelegate</string>
	<key>syncSynchronousDescriptionReference</key>
	<string>setRelationalGridFactory</string>
</dict>
</plist>
