<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayLocalMatrixStack</key>
	<string>getOtherTaskHandler</string>
	<key>getPrevParticleFilter</key>
	<string>getOriginalPriorityImplement</string>
	<key>getSemanticEdgeProtocol</key>
	<string>destroyLostCurveBase</string>
	<key>initializeGlobalVariableImplement</key>
	<string>setDiscardedProgressBarFilter</string>
	<key>playSemanticValueArray</key>
	<string>endOldNumberList</string>
	<key>prepareCommonNotationReference</key>
	<string>pauseFusedVarContainer</string>
	<key>reflectAccessibleVarContainer</key>
	<string>detachGranularParamObserver</string>
	<key>setAccessibleDescriptionHandler</key>
	<string>retainLostBufferOwner</string>
	<key>setNextBrushHelper</key>
	<string>pauseUsedResilienceFilter</string>
	<key>stopCrudeBorderFilter</key>
	<string>getDifficultTernaryAdapter</string>
</dict>
</plist>
