<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resumeReusableOpacityManager</key>
	<string>setArithmeticCenterProtocol</string>
	<key>spinBackwardNumberInstance</key>
	<string>getPrimaryParameterHandler</string>
	<key>startSignificantShaderImplement</key>
	<string>getAdvancedUsageCreator</string>
	<key>stopActivatedEvaluationProtocol</key>
	<string>stopRetainedAspectCache</string>
	<key>stopIntuitiveSizeHandler</key>
	<string>endConcurrentNumberAdapter</string>
</dict>
</plist>
