<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endCartesianPopupImplement</key>
	<string>endArithmeticTopManager</string>
	<key>getActivatedVariableExtension</key>
	<string>stopHardChartBase</string>
	<key>getDirectlyParamDecorator</key>
	<string>dismissStandaloneFormatCollection</string>
	<key>initializeUnsortedLabelCreator</key>
	<string>replacePermanentArithmeticList</string>
	<key>resumeOriginalFrameImplement</key>
	<string>restartComprehensiveSignaturePool</string>
	<key>setGranularPreviewTarget</key>
	<string>clipSubstantialLayoutCache</string>
</dict>
</plist>
