<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformUnsortedBottomTarget</key>
	<string>continueRobustOriginInstance</string>
	<key>getSubtleParameterReference</key>
	<string>rotateSharedHistogramFactory</string>
	<key>initializeSymmetricAnimationList</key>
	<string>generateReusableNumberType</string>
	<key>setIgnoredSliderImplement</key>
	<string>resumeTypicalTraversalList</string>
	<key>setSimilarInformationObserver</key>
	<string>setPrimaryBufferDecorator</string>
</dict>
</plist>
