<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMutableValueManager</key>
	<string>prepareGlobalTrianglesDecorator</string>
	<key>cancelSymmetricBaseAdapter</key>
	<string>createRelationalActionCache</string>
	<key>convertSpecifyBoxFactory</key>
	<string>setConcreteFlagsHandler</string>
	<key>getDenseVarType</key>
	<string>embraceSubsequentOriginHelper</string>
	<key>getUnactivatedTextProtocol</key>
	<string>poolProtectedInformationCreator</string>
	<key>initializePrevGramFilter</key>
	<string>releaseConcurrentSkewXStack</string>
	<key>pauseOtherTimeOwner</key>
	<string>cancelLocalBufferType</string>
	<key>replaceProtectedOccasionAdapter</key>
	<string>getDirectlyVariantProtocol</string>
	<key>showPermissiveOriginManager</key>
	<string>prepareDelicateReliabilityHelper</string>
	<key>trainGranularValuePool</key>
	<string>getAccordionChartDecorator</string>
</dict>
</plist>
