<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitRobustTempleObserver</key>
	<string>storeUsedGroupPool</string>
	<key>getDirectlyVertexManager</key>
	<string>endExplicitLeftCache</string>
	<key>offsetLargeHeapImplement</key>
	<string>skipDedicatedElementExtension</string>
	<key>streamlineGeometricIntegrationArray</key>
	<string>startDiversifiedLogarithmGroup</string>
</dict>
</plist>
