<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateLostDispatcherStack</key>
	<string>getUnactivatedFeatureInstance</string>
	<key>getPermanentResolverProtocol</key>
	<string>initializeBeginnerVariableFactory</string>
	<key>getSemanticLogFilter</key>
	<string>setSingleOriginOwner</string>
</dict>
</plist>
