<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeRequiredExponentOwner</key>
	<string>getSemanticNumberStack</string>
	<key>pauseEasyInterfaceCollection</key>
	<string>detachOtherBatchAdapter</string>
	<key>pausePermissiveDepthCache</key>
	<string>refreshIndependentValueDecorator</string>
	<key>setDedicatedSliderBase</key>
	<string>setSpecifyChapterInstance</string>
	<key>setNewestNumberObserver</key>
	<string>setPriorCatalystCreator</string>
	<key>setSecondVarAdapter</key>
	<string>refreshSortedLeftFilter</string>
	<key>startDenseModuleFactory</key>
	<string>setAsynchronousMenuCollection</string>
</dict>
</plist>
