<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prepareGeometricSpecifierFactory</key>
	<string>spinSharedNumberCollection</string>
	<key>setEnabledSceneCollection</key>
	<string>restartStandaloneVarType</string>
	<key>setRequiredVolumeArray</key>
	<string>setProtectedPriorityCollection</string>
	<key>writeFirstRecursionAdapter</key>
	<string>retrieveLargeRotationTarget</string>
</dict>
</plist>
