<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destroyPrimaryMomentumDecorator</key>
	<string>continueTypicalLoopHandler</string>
	<key>getSmallLatencyStack</key>
	<string>continueDirectVariableFactory</string>
	<key>pauseLastNumberContainer</key>
	<string>setMediocreLoaderBase</string>
	<key>readSubtleCharacterTarget</key>
	<string>computeAsynchronousChartContainer</string>
	<key>resumeNumericalInterpolationStack</key>
	<string>shearRapidParamObserver</string>
	<key>setCommonPositionProtocol</key>
	<string>setSubstantialSpriteCreator</string>
	<key>trainNormalTempleCreator</key>
	<string>getIterativeTextureManager</string>
	<key>trainOtherGraphPool</key>
	<string>pauseMultiStepHandler</string>
	<key>upgradeProtectedSpotManager</key>
	<string>setPriorCapacitiesPool</string>
</dict>
</plist>
