<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineGlobalBufferExtension</key>
	<string>setDisparateEvaluationCreator</string>
	<key>continueAdvancedAccessoryObserver</key>
	<string>trainEuclideanGateGroup</string>
	<key>getBasicMomentumProtocol</key>
	<string>augmentDifficultParamTarget</string>
	<key>getDirectlyRightCreator</key>
	<string>getRelationalBatchProtocol</string>
	<key>getDiscardedRotationDecorator</key>
	<string>endBackwardFlagsDecorator</string>
	<key>setPrismaticImpactBase</key>
	<string>setDisplayableViewHelper</string>
	<key>skipPriorCubeExtension</key>
	<string>getSimilarPositionObserver</string>
	<key>undertakeStandaloneMenuDelegate</key>
	<string>makePivotalTagReference</string>
</dict>
</plist>
