<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepAutoGemManager</key>
	<string>undertakeSortedValueHelper</string>
	<key>resumeReusableVectorGroup</key>
	<string>holdDiscardedNameProtocol</string>
	<key>revisitIgnoredParamImplement</key>
	<string>getCriticalLeftImplement</string>
	<key>setComprehensivePrecisionGroup</key>
	<string>restartPivotalNumberType</string>
	<key>setGranularSizeProtocol</key>
	<string>makeRapidPolygonObserver</string>
	<key>writeIgnoredSkinManager</key>
	<string>getSmallStateList</string>
</dict>
</plist>
