<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCriticalRightCache</key>
	<string>initializePermissiveFrameProtocol</string>
	<key>getSynchronousParamType</key>
	<string>getDiscardedCenterObserver</string>
	<key>requestSimilarNumberProtocol</key>
	<string>skipSmartVideoExtension</string>
	<key>resumeOldActivityManager</key>
	<string>continueDifficultGridHandler</string>
	<key>setCriticalBrushCollection</key>
	<string>setAdvancedDeliveryCache</string>
	<key>skipUsedOriginList</key>
	<string>obtainMultiValueGroup</string>
	<key>touchNumericalSignManager</key>
	<string>getAccessibleInteractionProtocol</string>
	<key>upgradeKeyPaddingArray</key>
	<string>getPriorCoordDelegate</string>
</dict>
</plist>
