<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelRetainedModelStack</key>
	<string>setFirstTailOwner</string>
	<key>continueEnabledBufferList</key>
	<string>setAdvancedLayerTarget</string>
	<key>embraceReusableTagCollection</key>
	<string>limitDeclarativeNumberCollection</string>
	<key>getRapidVarExtension</key>
	<string>getPermissiveReplicaFactory</string>
	<key>preparePrimaryResolverHelper</key>
	<string>getIndependentSizeDelegate</string>
	<key>resumeAdvancedBufferExtension</key>
	<string>embedDelicateInfoPool</string>
	<key>revisitEnabledVariantCreator</key>
	<string>floatDirectlyTweakReference</string>
	<key>setStaticIntensityCache</key>
	<string>keepSubtleFlagsDecorator</string>
	<key>skipMultiPopupOwner</key>
	<string>resumePrismaticInfoType</string>
</dict>
</plist>
