<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addMainImpactStack</key>
	<string>poolPublicEvolutionImplement</string>
	<key>getDisplayableTempleStack</key>
	<string>getRespectiveVisibleList</string>
	<key>getStaticLeftBase</key>
	<string>setSpecifyValueStack</string>
	<key>lockSortedQueueManager</key>
	<string>stopAsynchronousEffectDelegate</string>
	<key>resumeOtherInformationImplement</key>
	<string>pauseNextBufferOwner</string>
</dict>
</plist>
