<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getAssociatedVariableObserver</key>
	<string>setOtherModuleObserver</string>
	<key>pauseSophisticatedDurationInstance</key>
	<string>displayCustomizedTemplePool</string>
	<key>poolConsultativeMechanismCollection</key>
	<string>endNewestDepthHandler</string>
	<key>prepareTypicalParameterHandler</key>
	<string>getDeclarativeVarHandler</string>
	<key>resumeUsedFragmentType</key>
	<string>accelerateOriginalInitiativeFilter</string>
	<key>setNumericalAlphaFilter</key>
	<string>restartUniformSizeDecorator</string>
</dict>
</plist>
