<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueBeginnerSkirtAdapter</key>
	<string>skipUniformReplicaOwner</string>
	<key>endDirectMetricsInstance</key>
	<string>pauseExplicitParameterDecorator</string>
	<key>freeAccordionSizeHandler</key>
	<string>reflectNumericalIndexDecorator</string>
	<key>initializeLastParamCache</key>
	<string>reflectAutoQueueProtocol</string>
	<key>regulatePriorVarHelper</key>
	<string>getSymmetricCoordBase</string>
	<key>stopEasyGraphOwner</key>
	<string>cancelAutoGraphicHelper</string>
</dict>
</plist>
