<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endReusableChartGroup</key>
	<string>detachGreatParamType</string>
	<key>finishKeyEffectPool</key>
	<string>writeLargeTweakPool</string>
	<key>getUniqueRotationDecorator</key>
	<string>allocateDiscardedGraphicStack</string>
	<key>quantizerTypicalSkinExtension</key>
	<string>setSubtleSkewYArray</string>
	<key>undertakePrismaticComponentProtocol</key>
	<string>getElasticVarProtocol</string>
</dict>
</plist>
