<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeMissedChartList</key>
	<string>resumeLiteUtilList</string>
	<key>combineSimilarVertexArray</key>
	<string>stopConcreteControllerProtocol</string>
	<key>enumerateSignificantVariableStack</key>
	<string>getAssociatedApertureExtension</string>
	<key>finishGlobalLayerHandler</key>
	<string>poolOtherVariableProtocol</string>
	<key>getEphemeralNodeStack</key>
	<string>setLocalColorContainer</string>
	<key>getGlobalBoundDelegate</key>
	<string>setLiteTempleManager</string>
	<key>readSecondConstantHelper</key>
	<string>holdImmutableToolHelper</string>
	<key>restartOldViewDecorator</key>
	<string>seekAsynchronousTopFilter</string>
	<key>startSimilarSizeHelper</key>
	<string>equalProtectedVarManager</string>
	<key>stopCurrentCoordArray</key>
	<string>captureSeamlessSpriteList</string>
</dict>
</plist>
