<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyPopupRotation</key>
	<string>channelActivityMargin</string>
	<key>iterativeMissionPadding</key>
	<string>staticSymbolDuration</string>
	<key>normalBinaryShape</key>
	<string>unaryProxyVisible</string>
</dict>
</plist>
