<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTransformerHue</key>
	<string>sliderOrTask</string>
	<key>compositionBridgeVisible</key>
	<string>alertAwayTask</string>
	<key>mediumTweenDensity</key>
	<string>catalystJobDuration</string>
	<key>offsetWithoutProcess</key>
	<string>futureLayerRight</string>
	<key>plateDecoratorVisible</key>
	<string>invisibleMenuTail</string>
	<key>protectedFeatureSpacing</key>
	<string>semanticMetadataTop</string>
	<key>slashMediatorSkewx</key>
	<string>gateStageOffset</string>
</dict>
</plist>
