<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledSensorOrigin</key>
	<string>offsetBufferOrigin</string>
	<key>featureStageTail</key>
	<string>resolverTempleValidation</string>
	<key>standaloneBaseStatus</key>
	<string>controllerFormTension</string>
	<key>textWithDecorator</key>
	<string>previewIncludeFacade</string>
</dict>
</plist>
