<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonMethodHue</key>
	<string>singleActivityDirection</string>
	<key>frameNumberDuration</key>
	<string>factoryVisitorName</string>
	<key>modelAlongStage</key>
	<string>fusedDescriptionShade</string>
	<key>multiModulusVelocity</key>
	<string>axisProxyFrequency</string>
	<key>tickerProxyTransparency</key>
	<string>mediumBaselineIndex</string>
	<key>unsortedListviewTop</key>
	<string>viewFromChain</string>
</dict>
</plist>
