<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveNavigatorInterval</key>
	<string>otherResourceRotation</string>
	<key>chartByChain</key>
	<string>observerUntilLevel</string>
	<key>dimensionKindTension</key>
	<string>concreteSensorLocation</string>
	<key>entityInsideComposite</key>
	<string>segueVariableType</string>
	<key>eventAboutProcess</key>
	<string>consumerAboutInterpreter</string>
	<key>exponentOrBuffer</key>
	<string>eagerCanvasSpeed</string>
	<key>priorCompleterBottom</key>
	<string>signatureFlyweightHue</string>
	<key>reactiveChartRight</key>
	<string>statelessWidgetSkewx</string>
	<key>substantialChapterOrientation</key>
	<string>managerViaWork</string>
	<key>techniqueActivitySpacing</key>
	<string>similarThreadAppearance</string>
</dict>
</plist>
