<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAgainstOperation</key>
	<string>responseContainTier</string>
	<key>activatedOffsetOpacity</key>
	<string>cellIncludeFunction</string>
	<key>autoAxisTransparency</key>
	<string>dialogsNearContext</string>
	<key>concurrentSliderInset</key>
	<string>denseCustompaintDirection</string>
	<key>requestLayerShade</key>
	<string>accessoryNearNumber</string>
	<key>swiftEnvironmentState</key>
	<string>significantVectorKind</string>
	<key>usedResponseSpeed</key>
	<string>cartesianConfigurationPressure</string>
</dict>
</plist>
