<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferMementoHue</key>
	<string>resolverViaFlyweight</string>
	<key>cubitThroughType</key>
	<string>loopAtPrototype</string>
	<key>inactiveBlocOpacity</key>
	<string>entityAroundFlyweight</string>
	<key>matrixOutsideContext</key>
	<string>constProjectionStyle</string>
	<key>mediaqueryScopeType</key>
	<string>constraintThanTask</string>
	<key>musicAroundPattern</key>
	<string>radioPatternDuration</string>
	<key>rectUntilPhase</key>
	<string>compositionalSineIndex</string>
	<key>taskActionColor</key>
	<string>synchronousVectorRotation</string>
	<key>tickerContainNumber</key>
	<string>scrollFunctionContrast</string>
	<key>visibleCommandBound</key>
	<string>petBufferPosition</string>
</dict>
</plist>
