<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAlongAdapter</key>
	<string>stackSystemLeft</string>
	<key>columnThroughForm</key>
	<string>navigationTierSkewy</string>
	<key>completerLevelContrast</key>
	<string>localSemanticsAppearance</string>
	<key>futureInterpreterEdge</key>
	<string>matrixAsStrategy</string>
	<key>labelCommandTension</key>
	<string>sineNearAction</string>
	<key>labelVisitorDuration</key>
	<string>arithmeticAtProcess</string>
	<key>managerValueDepth</key>
	<string>multiplicationOrStrategy</string>
	<key>nativeTimerTransparency</key>
	<string>hyperbolicMaterialFrequency</string>
	<key>robustStampOffset</key>
	<string>retainedTextureDelay</string>
</dict>
</plist>
