<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAsComposite</key>
	<string>requestExceptPhase</string>
	<key>immediateEntityShade</key>
	<string>errorParamOffset</string>
	<key>immutableQueuePosition</key>
	<string>pinchableBuilderBottom</string>
	<key>musicObserverScale</key>
	<string>tappableManagerStyle</string>
	<key>smartThreadMode</key>
	<string>variantBeyondPattern</string>
	<key>spineLevelBrightness</key>
	<string>popupAndBridge</string>
	<key>viewFormFeedback</key>
	<string>draggableLossFrequency</string>
</dict>
</plist>
