<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellAmongObserver</key>
	<string>responsiveCubitAcceleration</string>
	<key>cubitContainAdapter</key>
	<string>chapterKindSkewx</string>
	<key>geometricTouchOffset</key>
	<string>optionBesideCommand</string>
	<key>ignoredInteractorCenter</key>
	<string>completerPrototypeInteraction</string>
	<key>layoutAndEnvironment</key>
	<string>usageNumberFeedback</string>
	<key>menuInterpreterCoord</key>
	<string>opaqueScrollRight</string>
	<key>metadataInVar</key>
	<string>positionedBySystem</string>
	<key>positionViaFlyweight</key>
	<string>previewCompositeCount</string>
</dict>
</plist>
