<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedErrorDistance</key>
	<string>presenterChainAcceleration</string>
	<key>concreteBatchVelocity</key>
	<string>discardedQueryTransparency</string>
	<key>customViewIndex</key>
	<string>interactorIncludeKind</string>
	<key>dependencyThroughBridge</key>
	<string>usedNormVisibility</string>
	<key>rectDecoratorTag</key>
	<string>previewStateCoord</string>
	<key>referenceViaMode</key>
	<string>brushStageInset</string>
	<key>subpixelCycleTop</key>
	<string>presenterAtType</string>
	<key>symbolDespiteTier</key>
	<string>capsuleWorkFeedback</string>
	<key>timerAroundVar</key>
	<string>blocPrototypeRight</string>
	<key>usedResultOrientation</key>
	<string>normalRequestSaturation</string>
</dict>
</plist>
