<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectTierShade</key>
	<string>viewAgainstCycle</string>
	<key>aspectratioAsActivity</key>
	<string>monsterPrototypeLocation</string>
	<key>checklistAgainstStructure</key>
	<string>dependencyCommandVelocity</string>
	<key>enabledRoleOrientation</key>
	<string>relationalBorderName</string>
	<key>normalInstructionTension</key>
	<string>scrollableGateState</string>
	<key>observerByProcess</key>
	<string>metadataAroundParameter</string>
	<key>petBeyondActivity</key>
	<string>lastGraphIndex</string>
	<key>prevConstraintSpeed</key>
	<string>binaryLikeMemento</string>
	<key>responseDuringParam</key>
	<string>descriptionAndPlatform</string>
</dict>
</plist>
