<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutFrameworkDirection</key>
	<string>boxDespitePattern</string>
	<key>layoutSinceFramework</key>
	<string>completionMementoValidation</string>
	<key>offsetParameterForce</key>
	<string>logAwayLayer</string>
	<key>radiusFunctionFeedback</key>
	<string>navigatorAtValue</string>
	<key>storyboardProcessLocation</key>
	<string>gemCompositeShade</string>
</dict>
</plist>
