<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMediatorOffset</key>
	<string>constBatchOpacity</string>
	<key>assetTypeVisibility</key>
	<string>hashBeyondComposite</string>
	<key>commandWorkTint</key>
	<string>displayableActionShade</string>
	<key>decorationPhaseInset</key>
	<string>methodLayerShade</string>
	<key>ephemeralIntensityMode</key>
	<string>futureFrameworkInset</string>
	<key>layerOutsideJob</key>
	<string>secondNodeSpacing</string>
	<key>menuSinceAdapter</key>
	<string>constUtilBound</string>
	<key>persistentGridviewInteraction</key>
	<string>injectionScopeBrightness</string>
	<key>significantNavigationTension</key>
	<string>heapProxyState</string>
	<key>sizeSingletonLocation</key>
	<string>collectionPerPhase</string>
</dict>
</plist>
