<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderSingletonState</key>
	<string>factoryAmongAction</string>
	<key>controllerPhaseLeft</key>
	<string>normalExpandedShade</string>
	<key>cycleActivityBottom</key>
	<string>currentMaterialState</string>
	<key>hardGraphInteraction</key>
	<string>riverpodAtValue</string>
	<key>offsetLayerPosition</key>
	<string>deferredEntropyRotation</string>
	<key>pinchableFutureTag</key>
	<string>delegateOperationTint</string>
	<key>serviceLayerBound</key>
	<string>commandFormSize</string>
	<key>unaryPerStructure</key>
	<string>viewValueOffset</string>
	<key>visibleAccessoryForce</key>
	<string>layoutSystemSize</string>
</dict>
</plist>
