<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerUntilComposite</key>
	<string>interactorOutsideActivity</string>
	<key>drawerOfKind</key>
	<string>capacitiesAroundObserver</string>
	<key>effectDespiteMemento</key>
	<string>managerJobType</string>
	<key>expandedParamHue</key>
	<string>denseMethodVisible</string>
	<key>mediaKindAcceleration</key>
	<string>fragmentBridgeMomentum</string>
	<key>modulusParameterCoord</key>
	<string>robustUtilSpeed</string>
	<key>monsterLikeLevel</key>
	<string>rectProxyState</string>
	<key>sharedInterfaceState</key>
	<string>animatedSegueResponse</string>
</dict>
</plist>
