<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentUtilCoord</key>
	<string>heapLevelTheme</string>
	<key>descriptorAtFunction</key>
	<string>persistentCubitResponse</string>
	<key>grainAmongKind</key>
	<string>flexWorkFlags</string>
	<key>mobileSceneInset</key>
	<string>metadataAgainstType</string>
	<key>popupInterpreterSize</key>
	<string>apertureStyleFeedback</string>
</dict>
</plist>
