<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderMementoType</key>
	<string>featureEnvironmentBound</string>
	<key>compositionLikeNumber</key>
	<string>awaitVersusNumber</string>
	<key>delegatePhaseForce</key>
	<string>sizeTierFormat</string>
	<key>interactivePreviewDuration</key>
	<string>textureAndJob</string>
	<key>interfaceTierAlignment</key>
	<string>notificationStageLocation</string>
	<key>mainInterpolationVisible</key>
	<string>reusableGesturedetectorLocation</string>
	<key>stateFormIndex</key>
	<string>optimizerBufferPosition</string>
	<key>storageInterpreterTint</key>
	<string>groupActivityShape</string>
	<key>widgetTaskVisibility</key>
	<string>chapterTierIndex</string>
</dict>
</plist>
