<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeButtonDelay</key>
	<string>chapterContainForm</string>
	<key>lazyCacheRate</key>
	<string>otherUnarySpacing</string>
	<key>numericalStatefulRotation</key>
	<string>arithmeticGridviewMargin</string>
	<key>signatureAtParam</key>
	<string>multiplicationDespiteVisitor</string>
	<key>ternaryContainStructure</key>
	<string>spotNumberCoord</string>
	<key>textureTypeBehavior</key>
	<string>responsiveDescriptorSaturation</string>
	<key>typicalButtonCoord</key>
	<string>bufferBesideLevel</string>
	<key>uniformGraphicMode</key>
	<string>unsortedTextColor</string>
</dict>
</plist>
