<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerRowSaturation</key>
	<string>factoryPatternKind</string>
	<key>behaviorModeFormat</key>
	<string>labelVersusScope</string>
	<key>capacitiesTempleFrequency</key>
	<string>composableGraphicCount</string>
	<key>captionFromPrototype</key>
	<string>iconFacadeBehavior</string>
	<key>columnAgainstShape</key>
	<string>diffableSizeState</string>
	<key>isolateParamPosition</key>
	<string>scaleObserverForce</string>
	<key>localTernaryPosition</key>
	<string>usedCollectionScale</string>
	<key>masterInFacade</key>
	<string>dynamicExpandedBound</string>
	<key>providerOfAdapter</key>
	<string>optionInMediator</string>
</dict>
</plist>
