<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeDurationName</key>
	<string>reducerCompositeLocation</string>
	<key>delegateBridgeName</key>
	<string>subtleSizeSize</string>
	<key>dependencyOutsideVar</key>
	<string>asyncMethodIndex</string>
	<key>enabledHeapInterval</key>
	<string>tweenIncludeLevel</string>
	<key>interfaceActionFormat</key>
	<string>customDecorationCoord</string>
	<key>sinkSinceLevel</key>
	<string>bulletVersusComposite</string>
	<key>specifierMementoSkewx</key>
	<string>difficultSampleBottom</string>
	<key>storeLikeVar</key>
	<string>futureLikeState</string>
	<key>synchronousSliderMomentum</key>
	<string>taskAndChain</string>
	<key>variantNearEnvironment</key>
	<string>substantialParticleInset</string>
</dict>
</plist>
