<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardViewAlignment</key>
	<string>cycleLevelTension</string>
	<key>convolutionDecoratorContrast</key>
	<string>reductionMementoPosition</string>
	<key>diversifiedCursorSpacing</key>
	<string>themePlatformContrast</string>
	<key>hardNotifierFormat</key>
	<string>streamUntilStructure</string>
	<key>metadataLikePrototype</key>
	<string>resilientStoreEdge</string>
	<key>numericalHandlerBottom</key>
	<string>unactivatedCanvasTransparency</string>
	<key>positionedTierScale</key>
	<string>drawerInStage</string>
	<key>projectionPrototypeInterval</key>
	<string>notifierOrEnvironment</string>
	<key>staticTweenSpacing</key>
	<string>offsetCompositeSaturation</string>
</dict>
</plist>
