<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAboutCommand</key>
	<string>titleShapeVelocity</string>
	<key>diversifiedFactoryDensity</key>
	<string>popupVisitorTop</string>
	<key>documentFlyweightInterval</key>
	<string>behaviorPrototypeDirection</string>
	<key>keyBuilderBehavior</key>
	<string>rapidRadiusOrigin</string>
	<key>methodWithoutState</key>
	<string>layerNumberCoord</string>
	<key>opaqueControllerPressure</key>
	<string>cursorChainDuration</string>
	<key>scrollParamVisibility</key>
	<string>sizeLikeStructure</string>
</dict>
</plist>
