<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteCharacterTag</key>
	<string>brushOperationScale</string>
	<key>constraintOutsideDecorator</key>
	<string>dependencyBeyondCommand</string>
	<key>effectPrototypeDuration</key>
	<string>tickerChainVisible</string>
	<key>graphPlatformAcceleration</key>
	<string>previewThroughComposite</string>
	<key>logAroundForm</key>
	<string>comprehensivePositionedRotation</string>
	<key>playbackAmongActivity</key>
	<string>symmetricMenuColor</string>
</dict>
</plist>
