<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateWithoutBuffer</key>
	<string>numericalMobxInterval</string>
	<key>descriptionStyleStyle</key>
	<string>activeFragmentLeft</string>
	<key>grayscaleMementoRotation</key>
	<string>cartesianClipperPadding</string>
	<key>materialGraphBorder</key>
	<string>animatedControllerContrast</string>
	<key>resultActionCenter</key>
	<string>activeRowName</string>
	<key>routerAndProcess</key>
	<string>invisibleBulletSkewx</string>
	<key>specifyListenerBorder</key>
	<string>primaryIntensityHead</string>
	<key>transformerUntilFramework</key>
	<string>priorityTempleMargin</string>
</dict>
</plist>
