<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNearSystem</key>
	<string>scrollableBulletAppearance</string>
	<key>builderForMethod</key>
	<string>managerVarTail</string>
	<key>dependencyObserverBottom</key>
	<string>resolverStateTail</string>
	<key>framePhaseFeedback</key>
	<string>crucialInterfaceSkewx</string>
	<key>menuTempleOrigin</key>
	<string>resourceDecoratorDistance</string>
	<key>queryOfAdapter</key>
	<string>rectIncludeParam</string>
	<key>symmetricGateFrequency</key>
	<string>precisionDuringFlyweight</string>
	<key>zoneParamSpeed</key>
	<string>durationContainActivity</string>
</dict>
</plist>
