<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMethodKind</key>
	<string>isolateInVisitor</string>
	<key>apertureIncludeFlyweight</key>
	<string>sizeInterpreterEdge</string>
	<key>declarativePopupDensity</key>
	<string>tickerParamContrast</string>
	<key>layoutFromVisitor</key>
	<string>spineMethodVisibility</string>
	<key>nibViaJob</key>
	<string>smallMissionPressure</string>
	<key>storagePrototypeBrightness</key>
	<string>aspectAndSystem</string>
	<key>substantialRouteContrast</key>
	<string>symmetricMomentumValidation</string>
</dict>
</plist>
