<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionAsSystem</key>
	<string>transformerExceptInterpreter</string>
	<key>draggableAnimatedcontainerShape</key>
	<string>scrollableSessionPosition</string>
	<key>dynamicCustompaintTheme</key>
	<string>sessionChainTag</string>
	<key>histogramBesideComposite</key>
	<string>dimensionViaTask</string>
	<key>histogramThroughCommand</key>
	<string>touchAboutFlyweight</string>
	<key>mainRowLeft</key>
	<string>blocAsProxy</string>
	<key>permanentStreamShade</key>
	<string>unactivatedControllerState</string>
	<key>rapidConfigurationShade</key>
	<string>exceptionTaskShape</string>
	<key>staticProfileValidation</key>
	<string>chartVarTension</string>
	<key>textureObserverAppearance</key>
	<string>basicObserverBehavior</string>
</dict>
</plist>
