<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleControllerDepth</key>
	<string>petThanWork</string>
	<key>associatedDecorationSpacing</key>
	<string>inkwellFacadeBehavior</string>
	<key>cosineStateVisible</key>
	<string>sinkOperationOffset</string>
	<key>customizedModelPressure</key>
	<string>progressbarInComposite</string>
	<key>immutableAnchorDepth</key>
	<string>denseLabelMargin</string>
	<key>robustIntegerSkewx</key>
	<string>opaqueStateDepth</string>
	<key>routeParameterRotation</key>
	<string>tweenPerStage</string>
	<key>viewDespiteLayer</key>
	<string>resizableEffectVisibility</string>
</dict>
</plist>
