<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterShapeVisibility</key>
	<string>spotScopeCoord</string>
	<key>compositionAboutStyle</key>
	<string>cacheFlyweightCoord</string>
	<key>diversifiedLabelCenter</key>
	<string>boxshadowStylePressure</string>
	<key>drawerEnvironmentForce</key>
	<string>serviceAsStage</string>
	<key>listenerFrameworkHue</key>
	<string>inactiveChannelShape</string>
	<key>managerSinceFacade</key>
	<string>projectionTierMargin</string>
	<key>reusableTopicMode</key>
	<string>cacheCompositeRotation</string>
	<key>sustainableSensorScale</key>
	<string>accessibleChannelsTransparency</string>
</dict>
</plist>
