<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientStyleRotation</key>
	<string>groupFrameworkLocation</string>
	<key>immediateProjectResponse</key>
	<string>cellValueFlags</string>
	<key>labelOperationPosition</key>
	<string>fixedGrainBound</string>
	<key>metadataProxyCount</key>
	<string>materialBridgeTag</string>
	<key>optimizerOrForm</key>
	<string>pinchablePreviewSkewy</string>
	<key>priorOptionTint</key>
	<string>riverpodVisitorShade</string>
	<key>providerAmongStage</key>
	<string>allocatorLikeMode</string>
	<key>repositoryThanParameter</key>
	<string>batchAroundInterpreter</string>
	<key>screenSystemTag</key>
	<string>futureInWork</string>
</dict>
</plist>
