<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionOperationDirection</key>
	<string>activeCollectionFlags</string>
	<key>explicitDrawerRotation</key>
	<string>responseLikeVisitor</string>
	<key>frameAwayWork</key>
	<string>buttonActivityAcceleration</string>
	<key>pinchableSlashMomentum</key>
	<string>explicitVectorSize</string>
</dict>
</plist>
