<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableLayerDensity</key>
	<string>handlerWithoutShape</string>
	<key>equipmentActivityBehavior</key>
	<string>optionParameterTag</string>
	<key>graphContextTension</key>
	<string>delicateStepState</string>
	<key>handlerThanVar</key>
	<string>standaloneAwaitDepth</string>
	<key>petFrameworkState</key>
	<string>extensionSystemLeft</string>
	<key>textPhaseCount</key>
	<string>isolateVariableCenter</string>
</dict>
</plist>
