<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateCustomizedTangentHandler</key>
	<string>retrieveIterativeVariantType</string>
	<key>cancelCriticalNumberHandler</key>
	<string>prepareMultiThroughputFilter</string>
	<key>cancelSingleChartList</key>
	<string>getOtherEdgeGroup</string>
	<key>endSmallAssetImplement</key>
	<string>obtainCustomBufferAdapter</string>
	<key>provideUnsortedBufferTarget</key>
	<string>endSeamlessBatchCollection</string>
	<key>respondAdvancedRoleContainer</key>
	<string>resizeGreatSliderCache</string>
	<key>setArithmeticNumberProtocol</key>
	<string>getLostCursorOwner</string>
	<key>skipRapidSymbolCache</key>
	<string>pauseSemanticParameterCollection</string>
</dict>
</plist>
