<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getAdvancedObjectPool</key>
	<string>appendCommonUtilCollection</string>
	<key>getLiteDepthContainer</key>
	<string>finishUnsortedZoneFilter</string>
	<key>setTypicalProvisionFilter</key>
	<string>floatNormalParamExtension</string>
</dict>
</plist>
