<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convertSubstantialVarImplement</key>
	<string>cloneNewestTempleHandler</string>
	<key>getGlobalBufferAdapter</key>
	<string>setIndependentSkewXCreator</string>
	<key>getPrimaryMenuOwner</key>
	<string>resumeDiversifiedBufferFactory</string>
	<key>getSecondEntropyDelegate</key>
	<string>setDiscardedConvolutionHandler</string>
	<key>navigateRequiredAnalogyDelegate</key>
	<string>continueDeclarativeTweakContainer</string>
</dict>
</plist>
