<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateSharedEqualizationHelper</key>
	<string>getGranularImageAdapter</string>
	<key>allocateGeometricEdgeStack</key>
	<string>reducePermissiveLossCreator</string>
	<key>associateRetainedConstantList</key>
	<string>prepareDifficultUtilObserver</string>
	<key>exitPrevVarHelper</key>
	<string>endPriorParameterProtocol</string>
	<key>getActivatedBatchDecorator</key>
	<string>initializeSmallRotationAdapter</string>
	<key>keepComprehensiveVarOwner</key>
	<string>setUsedSubpixelExtension</string>
	<key>pauseIntuitiveSkewYReference</key>
	<string>getIntermediateVisibleContainer</string>
	<key>requestMissedNumberContainer</key>
	<string>divideDiscardedCapsuleCollection</string>
	<key>restartOtherLeftContainer</key>
	<string>continueHardTopType</string>
	<key>setAsynchronousEquivalentExtension</key>
	<string>getReusableArchitectureFilter</string>
</dict>
</plist>
