<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachSimilarMendDelegate</key>
	<string>upgradeCrudeTempleTarget</string>
	<key>endFusedSkewYDelegate</key>
	<string>getCustomImageGroup</string>
	<key>initializeSemanticVarFactory</key>
	<string>restartSynchronousBufferDelegate</string>
	<key>quantizerStandaloneMapList</key>
	<string>getRapidBoundTarget</string>
	<key>readUniqueScaleReference</key>
	<string>checkFirstVariableHandler</string>
	<key>restartMainScaleCache</key>
	<string>trainReusableScaleReference</string>
	<key>stopSmartVariableObserver</key>
	<string>resetSmallValueCreator</string>
	<key>trainCrucialAllocatorCreator</key>
	<string>clearSingleOccasionContainer</string>
</dict>
</plist>
