<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelKeyRotationStack</key>
	<string>stopAsynchronousDescriptorAdapter</string>
	<key>getOtherPetCreator</key>
	<string>setKeyGridCache</string>
	<key>setConsultativeNameDecorator</key>
	<string>getComprehensiveFrameBase</string>
	<key>setCrucialParameterType</key>
	<string>resetElasticVariableHandler</string>
</dict>
</plist>
