<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendRequiredPositionDecorator</key>
	<string>setSpecifyGroupFilter</string>
	<key>executeConcurrentVariableAdapter</key>
	<string>keepCustomMapHelper</string>
	<key>setPrimaryFrameHandler</key>
	<string>stopFirstMaterialDelegate</string>
</dict>
</plist>
