<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverPriorToolStack</key>
	<string>clipSmallSpecifierCreator</string>
	<key>finishOldChapterDecorator</key>
	<string>continueDelicateHeapArray</string>
	<key>getOpaqueTextManager</key>
	<string>startUsedVarReference</string>
	<key>moveHyperbolicBufferAdapter</key>
	<string>getUniqueCenterContainer</string>
	<key>setAgileValueObserver</key>
	<string>setAssociatedLoaderArray</string>
	<key>setMainStyleCollection</key>
	<string>setUniformMusicFactory</string>
	<key>setMediumLoopObserver</key>
	<string>reduceMainSubpixelObserver</string>
	<key>setMissedIntensityPool</key>
	<string>getTensorVariantCollection</string>
	<key>spinPublicGraphicStack</key>
	<string>setSecondTopProtocol</string>
</dict>
</plist>
