<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateRequiredScaleCollection</key>
	<string>refreshLastMenuFilter</string>
	<key>destroyOldHeroList</key>
	<string>getEuclideanPetDecorator</string>
	<key>dissociateRobustLeftDelegate</key>
	<string>quitBasicPopupType</string>
	<key>getStandaloneModulusProtocol</key>
	<string>cancelUniqueParamCache</string>
	<key>pauseConcurrentBottomDelegate</key>
	<string>introspectSmallBufferPool</string>
	<key>setProtectedOriginDelegate</key>
	<string>findGranularVariableGroup</string>
	<key>setSmallReliabilityHelper</key>
	<string>resumeMediumStrengthHandler</string>
	<key>setSubstantialChallengeManager</key>
	<string>cancelOldTopicDecorator</string>
</dict>
</plist>
