<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateLargeColorProtocol</key>
	<string>setUsedTrianglesPool</string>
	<key>continueCurrentAccessoryGroup</key>
	<string>startFirstPlateManager</string>
	<key>continueRapidQueueContainer</key>
	<string>insteadPublicChartPool</string>
	<key>continueSmartDataDelegate</key>
	<string>trainMutableNotationInstance</string>
	<key>freeSecondStatusType</key>
	<string>insteadGeometricRightDecorator</string>
	<key>resumeDirectRectangleProtocol</key>
	<string>getGranularResultArray</string>
	<key>revisitBeginnerBufferBase</key>
	<string>trainOldVarStack</string>
	<key>setDirectIndexObserver</key>
	<string>setRetainedVariableFilter</string>
	<key>skipHierarchicalVideoType</key>
	<string>skipHyperbolicInstructionCreator</string>
</dict>
</plist>
