<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueGlobalValuePool</key>
	<string>preparePublicTempleDecorator</string>
	<key>continueNextImageAdapter</key>
	<string>navigateMainTempleHelper</string>
	<key>endNextHashOwner</key>
	<string>wrapIndependentDescentDecorator</string>
	<key>getElasticSymbolFilter</key>
	<string>stopRapidParameterType</string>
	<key>getPrimaryLeftImplement</key>
	<string>startHyperbolicBufferContainer</string>
	<key>locateAdvancedTopAdapter</key>
	<string>trainDeclarativeBandwidthObserver</string>
	<key>prepareSimilarTweakTarget</key>
	<string>keepRobustVarContainer</string>
	<key>setAdvancedNodeHelper</key>
	<string>encapsulateOtherRectangleList</string>
	<key>setNewestRightDelegate</key>
	<string>aggregateCriticalModuleBase</string>
	<key>startEphemeralVisibleFactory</key>
	<string>setLostElementPool</string>
</dict>
</plist>
