<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureNumericalDispatcherCreator</key>
	<string>trainStaticSlashCollection</string>
	<key>endAccessibleAmortizationManager</key>
	<string>trainLocalArithmeticFilter</string>
	<key>getSeamlessNumberDecorator</key>
	<string>finishAgileResolverFactory</string>
	<key>initializeLocalProjectCreator</key>
	<string>skipEphemeralContractionGroup</string>
	<key>markSubtleVarInstance</key>
	<string>upgradeOpaqueGrainList</string>
	<key>prepareRequiredTempleOwner</key>
	<string>setFirstPreviewCreator</string>
	<key>quantizationAutoMobileFilter</key>
	<string>releaseDirectConfigurationCreator</string>
	<key>setAgileSceneCache</key>
	<string>discoverIntermediateParamFilter</string>
	<key>touchHierarchicalUtilStack</key>
	<string>finishCriticalIntegerInstance</string>
</dict>
</plist>
