<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDenseScopeManager</key>
	<string>discoverAdvancedEventType</string>
	<key>clipDisplayableAspectPool</key>
	<string>reconcileUnactivatedEvolutionTarget</string>
	<key>continueOldVarStack</key>
	<string>animateUniqueParamHandler</string>
	<key>dissociateSmartSkewXTarget</key>
	<string>startLiteVarPool</string>
	<key>initializeUsedRotationTarget</key>
	<string>syncLargeSignatureTarget</string>
	<key>limitAsynchronousContractionCache</key>
	<string>trainHardBottomPool</string>
	<key>limitDelicateMomentumType</key>
	<string>getExplicitTopCollection</string>
	<key>setDifficultTailManager</key>
	<string>restartIndependentChapterCollection</string>
	<key>stopSubsequentInfrastructureManager</key>
	<string>stopMissedSkirtObserver</string>
	<key>transposeSmartGraphAdapter</key>
	<string>insteadDedicatedNameBase</string>
</dict>
</plist>
