<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endSophisticatedParticleContainer</key>
	<string>calculateAssociatedAspectOwner</string>
	<key>getMutableRoleArray</key>
	<string>drawSemanticBufferManager</string>
	<key>getRetainedMendHelper</key>
	<string>getStandaloneGrainArray</string>
	<key>getSubtleMatrixFilter</key>
	<string>trainPriorTraversalImplement</string>
	<key>setBasicVariableArray</key>
	<string>stopConsultativeAspectOwner</string>
</dict>
</plist>
