<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSortedHistogramBase</key>
	<string>setNewestNotationAdapter</string>
	<key>checkUsedTitleAdapter</key>
	<string>getPriorInfrastructureCreator</string>
	<key>generatePermanentSchemaCollection</key>
	<string>floatEasySpineAdapter</string>
	<key>prepareHyperbolicValuePool</key>
	<string>getOriginalRendererContainer</string>
	<key>restartKeySpriteDelegate</key>
	<string>cancelRequiredCoordContainer</string>
	<key>resumeOtherTitleReference</key>
	<string>getIterativeNumberContainer</string>
	<key>setCommonEffectType</key>
	<string>pauseLastParamExtension</string>
	<key>setMediumTailType</key>
	<string>prepareDeclarativeTailContainer</string>
	<key>setUnactivatedTempleDelegate</key>
	<string>setLargeEvaluationTarget</string>
</dict>
</plist>
