<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanIgnoredProgressBarDelegate</key>
	<string>storeReusableAnchorContainer</string>
	<key>concatenateOriginalDetailPool</key>
	<string>getAutoScreenReference</string>
	<key>createBeginnerToolType</key>
	<string>discoverActivatedHashExtension</string>
	<key>endSeamlessParameterInstance</key>
	<string>dropoutUniformInterfaceArray</string>
	<key>eraseUniqueElasticityGroup</key>
	<string>removeReusableActivityBase</string>
	<key>releaseIntuitiveRightPool</key>
	<string>getDeclarativeResolverList</string>
	<key>restoreSmallCosinePool</key>
	<string>parseUnactivatedSchemaArray</string>
	<key>setDirectlyIntensityInstance</key>
	<string>optimizeGlobalEquivalentObserver</string>
</dict>
</plist>
