<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endSpecifyOriginDelegate</key>
	<string>stopDisplayableAspectTarget</string>
	<key>getEphemeralLayoutOwner</key>
	<string>unscheduleNormalTempleAdapter</string>
	<key>getExplicitLoaderContainer</key>
	<string>prepareLiteSkewXStack</string>
	<key>quantizationFirstBufferDecorator</key>
	<string>getNewestVariableHelper</string>
	<key>restartBeginnerNumberObserver</key>
	<string>setAgileTitleDecorator</string>
	<key>searchSubtleDescriptionExtension</key>
	<string>setSymmetricGroupProtocol</string>
	<key>setLargeFlagsHelper</key>
	<string>restartFirstSessionCollection</string>
	<key>setSubstantialStepPool</key>
	<string>quitSortedBoundContainer</string>
	<key>startLargeNameFilter</key>
	<string>wrapTypicalMechanismOwner</string>
</dict>
</plist>
