<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getActivatedParamCache</key>
	<string>stopConsultativeSineOwner</string>
	<key>getMediumSessionInstance</key>
	<string>retainPermissiveItemInstance</string>
	<key>getNormalOptionList</key>
	<string>continueCrudeVarType</string>
	<key>reconcileMissedParamGroup</key>
	<string>getSynchronousBufferCreator</string>
	<key>resumeMultiMetricsPool</key>
	<string>trainEphemeralBufferProtocol</string>
	<key>stopHierarchicalIndexContainer</key>
	<string>startUniformVarDelegate</string>
	<key>trainCriticalVariableType</key>
	<string>setCrudeParamObserver</string>
</dict>
</plist>
