<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishMainOptionHandler</key>
	<string>displayMultiValuePool</string>
	<key>getBasicZoneReference</key>
	<string>eraseSignificantPopupDecorator</string>
	<key>initializeEuclideanEntropyImplement</key>
	<string>resumeRetainedMemberDelegate</string>
</dict>
</plist>
