<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dismissDenseMendList</key>
	<string>convertNextTextureCache</string>
	<key>enumeratePrimaryVarFactory</key>
	<string>retainGlobalDescentInstance</string>
	<key>generateDelicateTailManager</key>
	<string>navigateCrucialIntegerCollection</string>
	<key>getDeclarativeValueDecorator</key>
	<string>setBeginnerSkewXType</string>
	<key>getMissedListenerList</key>
	<string>drawFusedTitleTarget</string>
	<key>obtainRespectiveEventDelegate</key>
	<string>provideUnsortedReliabilityFactory</string>
	<key>optimizeStaticInformationFilter</key>
	<string>showAutoTempleManager</string>
	<key>pauseSemanticDurationObserver</key>
	<string>getUnsortedEquivalentExtension</string>
	<key>provideSubstantialRotationDelegate</key>
	<string>skipCartesianEdgeAdapter</string>
	<key>stopCriticalOriginDecorator</key>
	<string>getEphemeralVarPool</string>
</dict>
</plist>
