<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDescriptorCount</key>
	<string>interpolationStageBrightness</string>
	<key>loopStageBound</key>
	<string>getxFrameworkCoord</string>
	<key>normalPlateInterval</key>
	<string>prevApertureTheme</string>
	<key>reducerAndScope</key>
	<string>appbarTaskFlags</string>
	<key>sceneMethodBound</key>
	<string>chartLikeAdapter</string>
	<key>tangentTempleInterval</key>
	<string>diversifiedOffsetForce</string>
</dict>
</plist>
