<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>operationAdapterColor</key>
	<string>modelVarSkewx</string>
	<key>presenterLayerDirection</key>
	<string>controllerAboutType</string>
	<key>sinkKindOpacity</key>
	<string>dynamicButtonPosition</string>
	<key>stampAboutSystem</key>
	<string>significantGraphicRate</string>
</dict>
</plist>
