<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVisitorPadding</key>
	<string>progressbarThanComposite</string>
	<key>commandStatePadding</key>
	<string>requiredFlexForce</string>
	<key>concreteDimensionFrequency</key>
	<string>notifierForStyle</string>
	<key>dimensionWorkLocation</key>
	<string>isolateActivityFeedback</string>
	<key>draggableSampleDensity</key>
	<string>optimizerExceptStage</string>
	<key>positionSystemStatus</key>
	<string>layoutDecoratorStyle</string>
	<key>radiusAlongProcess</key>
	<string>inheritedCommandInset</string>
	<key>singletonDuringCommand</key>
	<string>assetActionBottom</string>
	<key>spriteInsideChain</key>
	<string>rectShapeTension</string>
	<key>usecaseLayerFlags</key>
	<string>sharedMusicType</string>
</dict>
</plist>
