<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDocumentCenter</key>
	<string>positionAdapterRate</string>
	<key>agileRemainderTension</key>
	<string>interactorAmongStage</string>
	<key>assetStructureOpacity</key>
	<string>queueAwayTask</string>
	<key>baseAdapterOpacity</key>
	<string>positionedAroundFunction</string>
	<key>buttonAmongVar</key>
	<string>methodLayerSize</string>
	<key>completerParamBehavior</key>
	<string>pageviewFunctionState</string>
	<key>frameObserverTint</key>
	<string>substantialTransformerTheme</string>
</dict>
</plist>
