<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTernaryBrightness</key>
	<string>buttonSingletonCenter</string>
	<key>cycleSingletonTheme</key>
	<string>aspectratioSinceOperation</string>
	<key>segueStateKind</key>
	<string>listviewTempleFlags</string>
	<key>tangentPlatformRate</key>
	<string>cardOfStyle</string>
	<key>timerFromFacade</key>
	<string>scaleTempleHue</string>
	<key>uniformInterpolationBound</key>
	<string>containerActionOpacity</string>
</dict>
</plist>
