<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionWidgetSkewx</key>
	<string>borderBeyondBuffer</string>
	<key>asynchronousSignatureAcceleration</key>
	<string>geometricBehaviorDelay</string>
	<key>backwardChannelsContrast</key>
	<string>overlayWithStructure</string>
	<key>callbackPlatformOpacity</key>
	<string>mediaqueryMethodPadding</string>
	<key>controllerNearParameter</key>
	<string>movementOrOperation</string>
	<key>newestCompositionSkewy</key>
	<string>comprehensiveViewFormat</string>
	<key>responsiveAsyncSpacing</key>
	<string>specifierAmongValue</string>
	<key>synchronousChapterOrigin</key>
	<string>metadataPrototypeOrientation</string>
	<key>unaryExceptState</key>
	<string>keySpineValidation</string>
	<key>utilSinceLevel</key>
	<string>skirtForMethod</string>
</dict>
</plist>
