<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeButtonIndex</key>
	<string>customizedSinkShape</string>
	<key>binarySinceAdapter</key>
	<string>responseStateBottom</string>
	<key>columnIncludeProxy</key>
	<string>nodeTempleDepth</string>
	<key>instructionThanStrategy</key>
	<string>gemInForm</string>
	<key>parallelErrorTint</key>
	<string>prevAlignmentType</string>
	<key>promiseThroughValue</key>
	<string>subtleChannelBrightness</string>
	<key>semanticHeroOrientation</key>
	<string>asyncByPrototype</string>
	<key>singleActionCenter</key>
	<string>materialObserverOrientation</string>
	<key>sinkLikePrototype</key>
	<string>baseInType</string>
</dict>
</plist>
