<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigatorOfParameter</key>
	<string>accessibleGroupRotation</string>
	<key>notificationWithShape</key>
	<string>graphicFrameworkTension</string>
	<key>semanticCompositionStyle</key>
	<string>gramJobFormat</string>
	<key>sharedGestureSkewy</key>
	<string>uniformPrecisionBorder</string>
</dict>
</plist>
