<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBehaviorMargin</key>
	<string>displayableEquipmentLeft</string>
	<key>activatedCanvasIndex</key>
	<string>layerFromScope</string>
	<key>priorityTaskHead</key>
	<string>sustainablePlaybackPosition</string>
	<key>semanticPreviewSize</key>
	<string>entropyFrameworkTag</string>
	<key>statefulAwayState</key>
	<string>unsortedGroupSize</string>
</dict>
</plist>
