<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseGridScale</key>
	<string>opaqueLabelStatus</string>
	<key>fixedParticleState</key>
	<string>alphaAwayPattern</string>
	<key>serviceVarTransparency</key>
	<string>capacitiesFromNumber</string>
	<key>smallBlocBound</key>
	<string>stateAsProxy</string>
	<key>subscriptionForSingleton</key>
	<string>integerMementoDirection</string>
	<key>typicalDialogsPosition</key>
	<string>functionalWidgetSpeed</string>
</dict>
</plist>
