<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSessionOffset</key>
	<string>progressbarLikeScope</string>
	<key>criticalInjectionDelay</key>
	<string>invisibleDecorationDistance</string>
	<key>directlyCustompaintTint</key>
	<string>convolutionFlyweightStatus</string>
	<key>menuEnvironmentTail</key>
	<string>statefulSizeResponse</string>
	<key>routerAlongState</key>
	<string>cursorNearComposite</string>
</dict>
</plist>
