<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteButtonTag</key>
	<string>callbackOrStrategy</string>
	<key>constBlocEdge</key>
	<string>toolAroundStyle</string>
	<key>dedicatedChartTension</key>
	<string>usecaseStrategySpeed</string>
	<key>hashCycleRight</key>
	<string>subtleMasterOpacity</string>
	<key>skirtFormBottom</key>
	<string>repositoryTierLeft</string>
</dict>
</plist>
