<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintStyleVisible</key>
	<string>modalBesideNumber</string>
	<key>immediateDurationTension</key>
	<string>oldTransitionFlags</string>
	<key>methodAboutTier</key>
	<string>exponentAlongSystem</string>
	<key>publicAssetSize</key>
	<string>mobxAndMethod</string>
	<key>singletonSinceVariable</key>
	<string>allocatorExceptFacade</string>
</dict>
</plist>
