<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterBesideMode</key>
	<string>sampleForParameter</string>
	<key>effectJobBorder</key>
	<string>awaitWithoutObserver</string>
	<key>rectAmongStyle</key>
	<string>switchFromPattern</string>
</dict>
</plist>
