<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableTextfieldBottom</key>
	<string>autoInstructionTheme</string>
	<key>extensionSingletonMode</key>
	<string>viewVarTension</string>
	<key>gesturedetectorFromKind</key>
	<string>variantCommandMargin</string>
	<key>lossTaskPadding</key>
	<string>managerAroundAction</string>
	<key>musicAsProcess</key>
	<string>convolutionProcessLocation</string>
	<key>presenterAlongComposite</key>
	<string>mutableRepositoryRate</string>
	<key>requiredCurvePadding</key>
	<string>eventAndAction</string>
	<key>roleByScope</key>
	<string>diversifiedStatefulValidation</string>
	<key>routerOrKind</key>
	<string>numericalSinkOrientation</string>
	<key>transitionNearFramework</key>
	<string>normalRouteSize</string>
</dict>
</plist>
