<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorFormSpacing</key>
	<string>disabledManagerRotation</string>
	<key>intermediateTransitionShade</key>
	<string>tickerPrototypeDensity</string>
	<key>lostKernelTension</key>
	<string>widgetDecoratorVisible</string>
	<key>nativeAlphaPressure</key>
	<string>utilVariableScale</string>
	<key>sharedActionDuration</key>
	<string>scrollThanType</string>
</dict>
</plist>
