<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedEffectDensity</key>
	<string>momentumFrameworkTint</string>
	<key>builderJobBound</key>
	<string>lostChannelHead</string>
	<key>difficultChartTheme</key>
	<string>variantAwayAction</string>
	<key>playbackAndMediator</key>
	<string>intuitiveResultMargin</string>
	<key>queryProxySpacing</key>
	<string>entityVarInterval</string>
	<key>resourceWithComposite</key>
	<string>rapidOverlaySpeed</string>
	<key>routerWorkScale</key>
	<string>animationBesideTier</string>
	<key>singleResourceCount</key>
	<string>resourceMethodFlags</string>
	<key>storeActionIndex</key>
	<string>popupAboutParam</string>
	<key>toolContainOperation</key>
	<string>taskSinceOperation</string>
</dict>
</plist>
