<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVariableInset</key>
	<string>layoutInterpreterRotation</string>
	<key>hierarchicalBlocMargin</key>
	<string>temporaryStampTension</string>
	<key>iterativeResourceVelocity</key>
	<string>catalystOrVar</string>
	<key>otherAnimationVisibility</key>
	<string>awaitNearMethod</string>
	<key>semanticsTempleMomentum</key>
	<string>mobxAgainstObserver</string>
	<key>similarScrollSaturation</key>
	<string>statePatternBehavior</string>
	<key>singleExpandedOrientation</key>
	<string>pageviewShapeValidation</string>
</dict>
</plist>
