<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>densePresenterInset</key>
	<string>displayableNormBrightness</string>
	<key>integerContextPadding</key>
	<string>containerAgainstActivity</string>
	<key>mobxViaNumber</key>
	<string>visibleCubitCount</string>
	<key>positionJobDelay</key>
	<string>materialStyleResponse</string>
	<key>tappableEffectInteraction</key>
	<string>greatChannelsMargin</string>
	<key>viewContainTemple</key>
	<string>sliderTaskFeedback</string>
</dict>
</plist>
