<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileEventLeft</key>
	<string>loopAgainstContext</string>
	<key>descriptionBesideAdapter</key>
	<string>oldCompositionFeedback</string>
	<key>gridAtVisitor</key>
	<string>otherFeatureKind</string>
	<key>pageviewContainVariable</key>
	<string>cacheSinceActivity</string>
	<key>resolverPrototypeMomentum</key>
	<string>composableMonsterFormat</string>
	<key>resultWorkSpacing</key>
	<string>containerAmongTemple</string>
	<key>sortedRichtextAlignment</key>
	<string>visibleTangentStatus</string>
	<key>stampShapeKind</key>
	<string>semanticsWithoutFacade</string>
	<key>temporaryPetOffset</key>
	<string>localNodeBottom</string>
</dict>
</plist>
