<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigatorAmongMethod</key>
	<string>delegateInsideState</string>
	<key>rectTypeForce</key>
	<string>projectionStructureEdge</string>
	<key>requestPrototypeCoord</key>
	<string>requestModeResponse</string>
	<key>rowOfKind</key>
	<string>delegateNearMemento</string>
	<key>scrollParameterShade</key>
	<string>unactivatedButtonColor</string>
	<key>stampAndEnvironment</key>
	<string>observerFormBound</string>
</dict>
</plist>
