<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResourceVisible</key>
	<string>mutableSampleOffset</string>
	<key>animatedCatalystInterval</key>
	<string>effectActionMode</string>
	<key>bufferContainStage</key>
	<string>arithmeticKernelInset</string>
	<key>gateUntilMediator</key>
	<string>optimizerFacadeDistance</string>
	<key>hardTechniqueTag</key>
	<string>advancedTextureEdge</string>
	<key>injectionAwayProxy</key>
	<string>popupObserverCenter</string>
	<key>mobileEnvironmentMargin</key>
	<string>controllerModeVisibility</string>
	<key>subsequentMatrixInterval</key>
	<string>protectedCurveSpacing</string>
</dict>
</plist>
