<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileDescriptorTheme</key>
	<string>sharedMobxTransparency</string>
	<key>positionAndKind</key>
	<string>spriteOfStyle</string>
	<key>storageLayerSkewy</key>
	<string>queryNumberKind</string>
	<key>temporaryMetadataOpacity</key>
	<string>basicMetadataSpacing</string>
</dict>
</plist>
