<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledTextureValidation</key>
	<string>sharedStateFeedback</string>
	<key>mobileInteractorOrigin</key>
	<string>histogramAndTemple</string>
	<key>monsterPhaseMomentum</key>
	<string>sizeLikeStyle</string>
	<key>sampleWithValue</key>
	<string>catalystByMode</string>
	<key>skirtValueSkewx</key>
	<string>subsequentExceptionRotation</string>
	<key>streamProxyInteraction</key>
	<string>providerAndCommand</string>
	<key>titleLikeLayer</key>
	<string>immutableProviderTag</string>
	<key>utilVersusMemento</key>
	<string>secondMapStyle</string>
</dict>
</plist>
