<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationExceptContext</key>
	<string>finalNodeShade</string>
	<key>consultativeBinaryTheme</key>
	<string>animationOperationDensity</string>
	<key>customizedAnimatedcontainerCoord</key>
	<string>listenerChainMomentum</string>
	<key>desktopStateValidation</key>
	<string>similarInstructionDuration</string>
	<key>functionalManagerShape</key>
	<string>notificationAgainstFunction</string>
	<key>layoutStyleKind</key>
	<string>touchDuringStage</string>
	<key>standaloneSymbolDepth</key>
	<string>singleManagerMode</string>
</dict>
</plist>
