<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionAwayVariable</key>
	<string>actionNearMediator</string>
	<key>equalizationLevelVelocity</key>
	<string>invisibleSensorTransparency</string>
	<key>lostExceptionScale</key>
	<string>cubitBufferIndex</string>
	<key>oldPageviewBound</key>
	<string>sizedboxParameterVisible</string>
	<key>primaryQueryShade</key>
	<string>opaqueVectorValidation</string>
</dict>
</plist>
