<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileLabelInterval</key>
	<string>completerContainVariable</string>
	<key>collectionExceptMode</key>
	<string>certificatePrototypeCoord</string>
	<key>coordinatorOfProcess</key>
	<string>drawerAndJob</string>
	<key>declarativeResourceCenter</key>
	<string>timerSystemOrigin</string>
	<key>heroAsFunction</key>
	<string>screenVariableContrast</string>
	<key>liteLayerOpacity</key>
	<string>appbarJobShade</string>
	<key>lostHeroCount</key>
	<string>numericalAnimatedcontainerHue</string>
	<key>multiFactoryAppearance</key>
	<string>chartAtWork</string>
	<key>streamMethodDensity</key>
	<string>zoneScopeLeft</string>
	<key>transitionPerFramework</key>
	<string>sliderCycleDepth</string>
</dict>
</plist>
