<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandDespiteObserver</key>
	<string>callbackInComposite</string>
	<key>modalVarScale</key>
	<string>builderAboutLayer</string>
	<key>projectionThanTask</key>
	<string>sophisticatedResolverLeft</string>
	<key>resultExceptScope</key>
	<string>largeArithmeticBorder</string>
	<key>significantAxisPosition</key>
	<string>mediumResourceRate</string>
	<key>taskFacadeCenter</key>
	<string>mutableDurationVelocity</string>
</dict>
</plist>
