<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSimilarNodeManager</key>
	<string>finishCommonProjectObserver</string>
	<key>decoupleLargeChapterCollection</key>
	<string>getPrismaticPositionManager</string>
	<key>embraceLargeResolverObserver</key>
	<string>getEphemeralSkinStack</string>
	<key>getDedicatedValueStack</key>
	<string>skipEnabledInterfaceObserver</string>
	<key>getEnabledValueAdapter</key>
	<string>pauseSophisticatedParamGroup</string>
	<key>getMissedModulusCreator</key>
	<string>setRespectiveAspectBase</string>
	<key>initializeStandaloneTempleFactory</key>
	<string>resetActivatedLossObserver</string>
	<key>setDiversifiedTempleReference</key>
	<string>rotateRapidVariableProtocol</string>
	<key>setProtectedTextureType</key>
	<string>setDisplayableDisclaimerObserver</string>
	<key>storeLocalResolverPool</key>
	<string>pauseCrudeEvaluationGroup</string>
</dict>
</plist>
