<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateRobustIndexDelegate</key>
	<string>cancelSortedChartHandler</string>
	<key>finishNextCacheAdapter</key>
	<string>continueSingleTempleImplement</string>
	<key>getAdvancedGrainHelper</key>
	<string>renameRapidParamManager</string>
	<key>getPrismaticEdgeList</key>
	<string>clipAccordionSkewXType</string>
	<key>holdGranularSizeCreator</key>
	<string>executeHardClusterDecorator</string>
	<key>removeOldColorObserver</key>
	<string>getRetainedBinaryExtension</string>
	<key>resumeSpecifyTempleStack</key>
	<string>setSemanticMenuHelper</string>
	<key>setUniformReliabilityManager</key>
	<string>prepareRetainedPopupProtocol</string>
	<key>skipEnabledIndexProtocol</key>
	<string>skipMultiFrameList</string>
	<key>syncRapidDepthAdapter</key>
	<string>associateArithmeticEntropyOwner</string>
</dict>
</plist>
