<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelActivatedParamCache</key>
	<string>enumerateSymmetricRemainderOwner</string>
	<key>decoupleEphemeralTrianglesDelegate</key>
	<string>playSmallRectManager</string>
	<key>getEnabledMissionManager</key>
	<string>animateDiscardedBufferExtension</string>
	<key>getSingleSliderHelper</key>
	<string>getSubtleParameterList</string>
	<key>pauseNextDetailExtension</key>
	<string>getElasticVariableCreator</string>
	<key>resetKeyControllerOwner</key>
	<string>quantizerPivotalMendObserver</string>
	<key>setIndependentPermutationImplement</key>
	<string>detachMediocreParticleCollection</string>
	<key>setMainExponentArray</key>
	<string>rotateSubsequentBoundDecorator</string>
	<key>setSmallQueueManager</key>
	<string>introspectPermanentInformationArray</string>
	<key>startIgnoredVariableCollection</key>
	<string>skipDelicateDepthExtension</string>
</dict>
</plist>
