<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIntermediateRotationOwner</key>
	<string>prepareSubsequentRotationHelper</string>
	<key>differentiateDirectlyResultGroup</key>
	<string>stopEasySizeAdapter</string>
	<key>locateRespectiveHashReference</key>
	<string>divideSymmetricPlateGroup</string>
	<key>setSubstantialVariableImplement</key>
	<string>restartHierarchicalSchedulerType</string>
	<key>unscheduleSophisticatedAscentArray</key>
	<string>wrapNextTitleHelper</string>
</dict>
</plist>
