<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishBackwardTempleManager</key>
	<string>skipAsynchronousSubpixelArray</string>
	<key>getNewestChapterHandler</key>
	<string>moveArithmeticOptionHandler</string>
	<key>getPrevNumberArray</key>
	<string>setSignificantTailObserver</string>
	<key>pauseAccessibleGroupCreator</key>
	<string>getDelicateChannelsHelper</string>
	<key>setMediumVideoGroup</key>
	<string>resumeRapidContrastHandler</string>
	<key>setProtectedTempleHelper</key>
	<string>getOriginalTopicInstance</string>
</dict>
</plist>
