<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDirectConstantExtension</key>
	<string>prepareLostInteractionObserver</string>
	<key>prepareAccordionRightFactory</key>
	<string>skipCrudeScaleContainer</string>
	<key>restartMutableImageTarget</key>
	<string>trainAgileTextDelegate</string>
</dict>
</plist>
