<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepMutableVarBase</key>
	<string>revisitPrimaryBufferPool</string>
	<key>mitigateResilientOriginExtension</key>
	<string>stopBackwardGraphType</string>
	<key>multiplyProtectedChapterProtocol</key>
	<string>obtainReusableNumberList</string>
	<key>restartCustomFlagsStack</key>
	<string>dismissFusedVariableProtocol</string>
	<key>setRobustDepthCache</key>
	<string>trainSymmetricHeadOwner</string>
	<key>stopUsedEffectDecorator</key>
	<string>restartAccessibleBitrateProtocol</string>
	<key>unlockAccessiblePreviewList</key>
	<string>restartEuclideanNameDelegate</string>
</dict>
</plist>
