<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishTensorDetailCollection</key>
	<string>resumeSpecifyFrameType</string>
	<key>getNewestVarList</key>
	<string>setRespectiveMeshObserver</string>
	<key>pauseEnabledIntensityDecorator</key>
	<string>keepPrismaticResolverOwner</string>
	<key>prepareSingleDurationTarget</key>
	<string>getSortedToolList</string>
	<key>setRapidMatrixAdapter</key>
	<string>prepareSemanticBatchList</string>
	<key>setUnsortedSizeFactory</key>
	<string>keepDeclarativeNumberStack</string>
</dict>
</plist>
