<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearDedicatedOptimizerAdapter</key>
	<string>setNextAmortizationStack</string>
	<key>endAssociatedAssetType</key>
	<string>skipTypicalFragmentsContainer</string>
	<key>getLocalIndexBase</key>
	<string>initializeNextActionOwner</string>
	<key>parseLocalVisibleHelper</key>
	<string>multiplyMissedEventProtocol</string>
	<key>resumeAgileGridManager</key>
	<string>trainDenseCapacitiesBase</string>
	<key>setStandaloneParamOwner</key>
	<string>getStandalonePositionBase</string>
	<key>startCommonHashFactory</key>
	<string>updateEphemeralIntensityContainer</string>
	<key>writeTensorTaxonomyInstance</key>
	<string>keepDiscardedTextureBase</string>
</dict>
</plist>
