<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalDirectlyMediaFactory</key>
	<string>createStandaloneNumberList</string>
	<key>pauseIndependentDataBase</key>
	<string>setSharedVariablePool</string>
	<key>setPriorTentativeProtocol</key>
	<string>reconcilePublicStyleArray</string>
</dict>
</plist>
