<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateSynchronousLeftOwner</key>
	<string>pauseIntuitiveTopDecorator</string>
	<key>cancelSeamlessUsageProtocol</key>
	<string>embedPivotalMenuOwner</string>
	<key>detachNumericalOptimizerExtension</key>
	<string>endImmutableVectorCache</string>
	<key>getEuclideanLayerPool</key>
	<string>unscheduleUniformFrameCache</string>
	<key>resizeStaticBufferBase</key>
	<string>endDelicateParamFilter</string>
	<key>stopSmallInitiatorsOwner</key>
	<string>prepareMainChartType</string>
</dict>
</plist>
