<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateNormalRotationAdapter</key>
	<string>getTensorButtonFilter</string>
	<key>equalDisplayableVariableExtension</key>
	<string>restartCustomParticleTarget</string>
	<key>floatNextLogarithmBase</key>
	<string>getConsultativeContrastFilter</string>
	<key>getNumericalNumberObserver</key>
	<string>setMutableNumberDecorator</string>
	<key>markSeamlessRightType</key>
	<string>getComprehensiveVarBase</string>
	<key>prepareOtherControllerCollection</key>
	<string>continueRobustEvaluationHelper</string>
	<key>updatePivotalMendFactory</key>
	<string>continueTensorOptimizerCollection</string>
</dict>
</plist>
