<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getMutableColorTarget</key>
	<string>setRapidDescentAdapter</string>
	<key>prepareRelationalSineManager</key>
	<string>prepareIterativeSliderManager</string>
	<key>setFusedBaseStack</key>
	<string>startLargeConfigurationAdapter</string>
</dict>
</plist>
