<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getStaticAspectBase</key>
	<string>getConsultativeMatrixArray</string>
	<key>getUsedPositionImplement</key>
	<string>setBasicVisibleArray</string>
	<key>keepNormalColorContainer</key>
	<string>pauseDenseIntensityContainer</string>
	<key>startReusableNumberFilter</key>
	<string>cancelCustomVertexArray</string>
</dict>
</plist>
