<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSubsequentColorTarget</key>
	<string>finishNextAllocatorBase</string>
	<key>dissociatePrismaticBufferReference</key>
	<string>setProtectedBufferArray</string>
	<key>endOriginalParameterObserver</key>
	<string>startFusedFrameFactory</string>
	<key>quantizerEasyRightStack</key>
	<string>optimizeMediumValueInstance</string>
	<key>stopCartesianParameterImplement</key>
	<string>setPublicFrameType</string>
	<key>trainHierarchicalTextContainer</key>
	<string>getNumericalOpacityFactory</string>
</dict>
</plist>
