<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIndependentVarHelper</key>
	<string>getGreatIndexHandler</string>
	<key>divideSeamlessCompositionPool</key>
	<string>prepareRetainedFragmentsHelper</string>
	<key>endDirectConfigurationHandler</key>
	<string>prepareOriginalItemReference</string>
	<key>getIndependentTempleFilter</key>
	<string>endDirectlyIndexProtocol</string>
	<key>removeDirectSymbolContainer</key>
	<string>continueFirstVariableHandler</string>
	<key>restartSharedDescriptionProtocol</key>
	<string>continueAccessibleEvolutionType</string>
	<key>resumeSecondShapeCollection</key>
	<string>finishSmartRangeType</string>
	<key>revisitOtherValueDelegate</key>
	<string>startSophisticatedBufferDelegate</string>
	<key>skipUniqueWorkflowAdapter</key>
	<string>setDirectlyParamList</string>
	<key>startEasyScaleCreator</key>
	<string>releaseLastParamContainer</string>
</dict>
</plist>
