<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishUnsortedAspectArray</key>
	<string>getResilientRowTarget</string>
	<key>prepareDedicatedAnchorManager</key>
	<string>rotateLastNameList</string>
	<key>pushSemanticThresholdImplement</key>
	<string>getGranularRestrictionArray</string>
	<key>startOldDetailProtocol</key>
	<string>stopTensorAllocatorHelper</string>
</dict>
</plist>
