<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPriorProfileManager</key>
	<string>renameLargeStampPool</string>
	<key>getProtectedKernelExtension</key>
	<string>initializeOtherPreviewPool</string>
	<key>makeRetainedSignDelegate</key>
	<string>endSpecifyCoordFactory</string>
</dict>
</plist>
