<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateSubtleTopicReference</key>
	<string>finishCustomVariableList</string>
	<key>restartLargeIndexCreator</key>
	<string>skipHyperbolicMovementExtension</string>
	<key>setTypicalVariableInstance</key>
	<string>allocateRobustVisibleCache</string>
	<key>startArithmeticIntegrationOwner</key>
	<string>encapsulateFirstLayoutBase</string>
	<key>startOpaqueChecklistOwner</key>
	<string>analyzeAsynchronousAnchorList</string>
</dict>
</plist>
