<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addIntuitiveBufferHelper</key>
	<string>stopBeginnerFrameExtension</string>
	<key>cancelPermanentOccasionInstance</key>
	<string>convertMutableViewOwner</string>
	<key>cleanOtherLogarithmAdapter</key>
	<string>setSharedSignatureReference</string>
	<key>cloneRelationalComponentInstance</key>
	<string>trainStaticParameterType</string>
	<key>continueRequiredMatrixCache</key>
	<string>detachMutableCapacityFactory</string>
	<key>getBackwardAllocatorExtension</key>
	<string>floatSymmetricArithmeticFactory</string>
	<key>getPriorPositionList</key>
	<string>startGranularInfoProtocol</string>
	<key>setUniformBufferDecorator</key>
	<string>enumerateDelicateVarHelper</string>
</dict>
</plist>
