<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeRespectiveActionManager</key>
	<string>setBasicResultExtension</string>
	<key>checkNumericalReductionReference</key>
	<string>getSubtleConfigurationArray</string>
	<key>continueFirstSkewYBase</key>
	<string>restartBeginnerTagManager</string>
	<key>provideResilientCaptionObserver</key>
	<string>extendAssociatedInitiatorsCreator</string>
	<key>setStandaloneBandwidthPool</key>
	<string>releaseSimilarProfileDecorator</string>
</dict>
</plist>
