<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipSharedScopeCollection</key>
	<string>dissociateTypicalTempleArray</string>
	<key>dissociateEasyParamCache</key>
	<string>getRapidTitleInstance</string>
	<key>embedSimilarHeadCreator</key>
	<string>setComprehensiveSpriteFactory</string>
	<key>exitComprehensiveBottomImplement</key>
	<string>createElasticVisibleCache</string>
	<key>finishArithmeticGraphExtension</key>
	<string>setKeyTempleInstance</string>
	<key>pauseDiversifiedSkewXManager</key>
	<string>stopGranularGroupPool</string>
	<key>pauseMultiVarType</key>
	<string>decoupleRapidLayoutAdapter</string>
	<key>startDiscardedVarFilter</key>
	<string>keepStaticSpriteObserver</string>
	<key>trainDisplayableAspectFilter</key>
	<string>getComprehensiveScreenInstance</string>
</dict>
</plist>
