<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDirectChannelsManager</key>
	<string>getImmutableRightManager</string>
	<key>generateElasticResolverHelper</key>
	<string>cleanResilientBottomContainer</string>
	<key>getDedicatedChannelsPool</key>
	<string>freeLargeParameterManager</string>
	<key>removeUniqueSkewXGroup</key>
	<string>skipGeometricScaleOwner</string>
	<key>skipSustainableVarInstance</key>
	<string>getBasicShaderImplement</string>
	<key>stopRespectiveAxisProtocol</key>
	<string>calculateCrudeParameterOwner</string>
	<key>writeImmutableVarCache</key>
	<string>skipBackwardTernaryTarget</string>
</dict>
</plist>
