<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelHyperbolicRouteInstance</key>
	<string>restartNormalDataGroup</string>
	<key>conformRequiredResolverArray</key>
	<string>stopCustomizedNameTarget</string>
	<key>getMediumAssetStack</key>
	<string>setStaticIntensityOwner</string>
	<key>getPublicMovementFilter</key>
	<string>resumeConcurrentStyleTarget</string>
	<key>getSmallEfficiencyDelegate</key>
	<string>keepAutoAssetType</string>
</dict>
</plist>
