<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureGeometricResilienceFactory</key>
	<string>compareActivatedElementContainer</string>
	<key>finishDiscardedCursorManager</key>
	<string>freeImmutableVariableProtocol</string>
	<key>floatExplicitDurationList</key>
	<string>checkHierarchicalGraphProtocol</string>
	<key>getCartesianMultiplicationOwner</key>
	<string>equalIndependentTaxonomyHelper</string>
	<key>reconcileGreatBehaviorObserver</key>
	<string>setOriginalCaptionImplement</string>
	<key>trainStandaloneSizeDecorator</key>
	<string>releaseSecondRectangleCache</string>
	<key>visitLostHashType</key>
	<string>skipDedicatedLayoutOwner</string>
</dict>
</plist>
