<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addConsultativeTraversalCollection</key>
	<string>endPrevAssetTarget</string>
	<key>destroyNewestSliderAdapter</key>
	<string>aggregateKeyGroupReference</string>
	<key>keepIndependentLayerOwner</key>
	<string>keepSortedHashHelper</string>
	<key>prepareGlobalCapacitiesManager</key>
	<string>pauseSpecifyStatusAdapter</string>
	<key>prepareSimilarVarTarget</key>
	<string>setNormalSegmentReference</string>
	<key>resumeSubsequentAlphaAdapter</key>
	<string>trainPrismaticBufferReference</string>
	<key>setDeclarativeSpriteDelegate</key>
	<string>initializeGranularIndexPool</string>
	<key>setGreatContrastInstance</key>
	<string>setSecondTextDecorator</string>
	<key>skipOriginalCubeObserver</key>
	<string>prepareExplicitTextDelegate</string>
	<key>startDenseBoundCollection</key>
	<string>getCartesianMetadataFilter</string>
</dict>
</plist>
