<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformSortedCenterImplement</key>
	<string>getDirectTweakFilter</string>
	<key>getEphemeralResolverInstance</key>
	<string>getStaticHeadCache</string>
	<key>setHyperbolicVolumeGroup</key>
	<string>poolLostUtilObserver</string>
	<key>setPrevNumberHandler</key>
	<string>setSingleReliabilityProtocol</string>
	<key>setPrevPopupManager</key>
	<string>getGlobalTopicHandler</string>
	<key>startStaticLatencyHandler</key>
	<string>seekUnactivatedSizeCache</string>
</dict>
</plist>
