<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformExplicitParamGroup</key>
	<string>getHyperbolicSineList</string>
	<key>continueSimilarBufferExtension</key>
	<string>combineExplicitComponentObserver</string>
	<key>getLocalNameCollection</key>
	<string>resetConcreteAxisObserver</string>
	<key>initializeUniformLayoutType</key>
	<string>setHyperbolicParameterHandler</string>
	<key>setMediumMenuTarget</key>
	<string>setUniformScopeExtension</string>
	<key>setPriorTrianglesList</key>
	<string>combineCriticalGridExtension</string>
	<key>skipMultiTempleFilter</key>
	<string>skipCommonVariantManager</string>
	<key>startBasicConfigurationList</key>
	<string>getIntuitiveIntensityTarget</string>
</dict>
</plist>
