<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneDenseTimeReference</key>
	<string>setSingleParamTarget</string>
	<key>endUnactivatedParamType</key>
	<string>skipOpaquePlaybackExtension</string>
	<key>getSophisticatedSpecifierContainer</key>
	<string>markStandaloneImageHelper</string>
	<key>keepRetainedOptionImplement</key>
	<string>getPermanentCycleGroup</string>
	<key>setSecondSizeProtocol</key>
	<string>finishSubtleGroupDelegate</string>
</dict>
</plist>
