<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalDirectGraphCreator</key>
	<string>retainDiversifiedStrengthContainer</string>
	<key>keepDenseEffectList</key>
	<string>setSingleEffectCreator</string>
	<key>restartSignificantScreenReference</key>
	<string>getRapidArchitectureExtension</string>
	<key>resumeDelicateSoundArray</key>
	<string>getCustomMenuCollection</string>
</dict>
</plist>
