<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishSubtleGrainOwner</key>
	<string>finishMainCharacteristicDecorator</string>
	<key>getUnactivatedResourceHelper</key>
	<string>showSustainableNumberHandler</string>
	<key>pauseMultiLeftFilter</key>
	<string>offsetEasyAmortizationGroup</string>
	<key>resumeHierarchicalBufferReference</key>
	<string>offsetSmallParameterBase</string>
	<key>setMissedVarCreator</key>
	<string>appendBeginnerParamDelegate</string>
	<key>setNextCharacterInstance</key>
	<string>initializeLiteDialogsGroup</string>
	<key>skipPermanentTextProtocol</key>
	<string>shearMissedValueGroup</string>
	<key>unscheduleBackwardInitiatorsHelper</key>
	<string>compareConsultativeBufferArray</string>
</dict>
</plist>
