<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>differentiatePriorTempleCollection</key>
	<string>trainSimilarMobileHelper</string>
	<key>getCommonChapterBase</key>
	<string>getUnactivatedNumberGroup</string>
	<key>insteadSpecifySliderFactory</key>
	<string>startExplicitMendDecorator</string>
	<key>pauseSymmetricTagType</key>
	<string>unscheduleSortedAccessoryExtension</string>
	<key>startMultiCacheExtension</key>
	<string>stopLiteActionStack</string>
	<key>startPermanentSkewYOwner</key>
	<string>poolHardVariableTarget</string>
</dict>
</plist>
