<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeHardArchitectureObserver</key>
	<string>prepareIntermediatePaddingList</string>
	<key>setCriticalDispatcherDelegate</key>
	<string>searchDelicateVertexCache</string>
	<key>skipCartesianTextFilter</key>
	<string>encapsulateOriginalLabelHandler</string>
	<key>trainPublicParamInstance</key>
	<string>getCrucialQueueContainer</string>
</dict>
</plist>
