<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createBasicValueFilter</key>
	<string>skipSharedPolygonTarget</string>
	<key>encapsulateMissedSceneExtension</key>
	<string>getNormalVisibleContainer</string>
	<key>eraseLastParamProtocol</key>
	<string>makeCriticalMechanismManager</string>
	<key>generateEuclideanColorArray</key>
	<string>prepareMultiGroupCollection</string>
	<key>getAsynchronousMenuCollection</key>
	<string>cancelNewestPrecisionImplement</string>
	<key>getIterativeOriginStack</key>
	<string>moveNumericalValueList</string>
	<key>releaseOldInfrastructureManager</key>
	<string>pushCommonLayoutPool</string>
	<key>setMainBufferGroup</key>
	<string>getArithmeticResultHandler</string>
	<key>setSubtleResourceObserver</key>
	<string>concatenateMediocreChapterFilter</string>
	<key>startBasicStatusHandler</key>
	<string>quantizerElasticBufferTarget</string>
</dict>
</plist>
