<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateDeclarativeFlagsType</key>
	<string>getUniformQueueBase</string>
	<key>getDirectlyCapacityTarget</key>
	<string>obtainComprehensiveParamCache</string>
	<key>obtainConcreteLabelObserver</key>
	<string>cleanOtherOpacityInstance</string>
	<key>pauseSubstantialDescriptorContainer</key>
	<string>drawAccessibleObserverCreator</string>
	<key>restartPrevParameterInstance</key>
	<string>appendRapidAssetStack</string>
	<key>skipNewestConfidentialityImplement</key>
	<string>movePriorImageHandler</string>
	<key>startComprehensiveIntensityBase</key>
	<string>analyzeLastStyleExtension</string>
	<key>stopSimilarSkewYProtocol</key>
	<string>resumeCommonSpineManager</string>
</dict>
</plist>
