<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentOtherCardManager</key>
	<string>optimizeSimilarBoundPool</string>
	<key>checkGlobalTangentArray</key>
	<string>touchTypicalParameterObserver</string>
	<key>createImmutableTempleAdapter</key>
	<string>skipConcurrentLayoutHandler</string>
	<key>makeDedicatedSchedulerHelper</key>
	<string>checkDirectlyTempleArray</string>
	<key>pauseActivatedAllocatorFactory</key>
	<string>getSignificantParamPool</string>
	<key>prepareSubtleTempleImplement</key>
	<string>holdUsedSessionArray</string>
	<key>seekEasyFragmentStack</key>
	<string>getPivotalSliderHelper</string>
	<key>setOpaqueCapsuleTarget</key>
	<string>resumePermissiveVarContainer</string>
	<key>setSmallMovementFilter</key>
	<string>regulateMissedFrameHandler</string>
</dict>
</plist>
