<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeConcurrentMechanismInstance</key>
	<string>getRequiredThroughputCreator</string>
	<key>getGeometricQueueArray</key>
	<string>scheduleAutoResolverExtension</string>
	<key>getMediumInfrastructureProtocol</key>
	<string>restartAdvancedFlagsBase</string>
	<key>resetHierarchicalValueProtocol</key>
	<string>resetAsynchronousSizeProtocol</string>
	<key>setBackwardOpacityPool</key>
	<string>cancelAccessibleLoaderList</string>
	<key>skipIntuitiveChapterTarget</key>
	<string>startCustomSpriteImplement</string>
</dict>
</plist>
