<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishGreatAlphaOwner</key>
	<string>writeSeamlessVarExtension</string>
	<key>getTensorColorReference</key>
	<string>convertEphemeralStrokeType</string>
	<key>restartSmartScaleType</key>
	<string>resumeDirectlyNameImplement</string>
	<key>resumeBasicIndexType</key>
	<string>upgradeExplicitLoopStack</string>
	<key>setStandaloneOpacityDecorator</key>
	<string>keepIntermediateTopList</string>
	<key>setSubstantialStyleFilter</key>
	<string>showUnsortedIntensityList</string>
	<key>showNextCoordCreator</key>
	<string>setSubsequentPrecisionObserver</string>
	<key>stopIterativeVectorCache</key>
	<string>checkDiscardedVariantPool</string>
	<key>stopSecondMissionFactory</key>
	<string>cancelPrismaticArithmeticHandler</string>
</dict>
</plist>
