<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachCurrentGraphCreator</key>
	<string>executeKeyMechanismContainer</string>
	<key>getFusedAnimationDelegate</key>
	<string>setHardNormOwner</string>
	<key>initializeConcurrentLossInstance</key>
	<string>rotateNextTempleDelegate</string>
	<key>setDirectNumberCache</key>
	<string>analyzeCrucialParameterOwner</string>
	<key>skipRapidStepObserver</key>
	<string>setDiscardedGridDelegate</string>
	<key>stopSymmetricOpacityManager</key>
	<string>continueSemanticFeatureImplement</string>
</dict>
</plist>
