<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSmallIntegrityInstance</key>
	<string>setKeyInteractionType</string>
	<key>getAdvancedBoundGroup</key>
	<string>exitUnsortedTexturePool</string>
	<key>getBeginnerParamFactory</key>
	<string>setHyperbolicIntensityInstance</string>
	<key>getPrismaticNameProtocol</key>
	<string>keepIntuitiveConfidentialityTarget</string>
	<key>resumeEnabledCoordOwner</key>
	<string>refreshAccessibleObjectImplement</string>
	<key>setSpecifyMissionHandler</key>
	<string>getConsultativeSliderOwner</string>
</dict>
</plist>
