<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedRobustRightPool</key>
	<string>moveSmartNameTarget</string>
	<key>regulateBasicIntegrityPool</key>
	<string>setOriginalTitleFilter</string>
	<key>setHardTempleContainer</key>
	<string>provideSecondQueueAdapter</string>
	<key>startLostVarHandler</key>
	<string>scheduleGeometricAspectTarget</string>
	<key>trainRequiredValueFilter</key>
	<string>setPrismaticValueArray</string>
	<key>unlockCartesianEffectFactory</key>
	<string>pauseAutoTentativeHandler</string>
</dict>
</plist>
