<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachAccordionSliderDecorator</key>
	<string>prepareCurrentCoordList</string>
	<key>getComprehensiveChallengeStack</key>
	<string>trainUsedTopicOwner</string>
	<key>initializeDisplayableHashOwner</key>
	<string>detachPivotalPopupOwner</string>
	<key>setElasticSizeGroup</key>
	<string>obtainSemanticNodeInstance</string>
	<key>stopSortedPreviewTarget</key>
	<string>resumeGlobalCubeManager</string>
</dict>
</plist>
