<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverAgileSignatureContainer</key>
	<string>getEasyGroupContainer</string>
	<key>getOtherVisibleManager</key>
	<string>keepSemanticParamPool</string>
	<key>prepareCartesianTailDecorator</key>
	<string>resumeStandaloneScopeStack</string>
	<key>restartProtectedValueFilter</key>
	<string>getCartesianNodePool</string>
	<key>setElasticVariableStack</key>
	<string>restoreAdvancedSignaturePool</string>
	<key>trainUniqueEvolutionBase</key>
	<string>executeElasticConfigurationManager</string>
</dict>
</plist>
