<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pushReusableRotationInstance</key>
	<string>getConsultativeResolverCreator</string>
	<key>setPrevConfigurationHelper</key>
	<string>playPermanentRecursionTarget</string>
	<key>setResilientQueueContainer</key>
	<string>restartOtherTailFactory</string>
	<key>wrapLastOpacityOwner</key>
	<string>cancelSignificantTagObserver</string>
</dict>
</plist>
