<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitReusableDescriptorStack</key>
	<string>equalUnsortedGroupPool</string>
	<key>renameGreatFormatOwner</key>
	<string>setLostNodeExtension</string>
	<key>setAccordionGraphProtocol</key>
	<string>setSophisticatedGiftFilter</string>
	<key>setConcurrentInterfaceInstance</key>
	<string>getSecondCharacteristicFilter</string>
	<key>setSimilarBitrateManager</key>
	<string>setUniformNumberCache</string>
	<key>streamlinePermissiveHeadReference</key>
	<string>getGranularComponentArray</string>
	<key>syncMainVariableStack</key>
	<string>finishSeamlessVariableStack</string>
</dict>
</plist>
