<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneCustomizedOriginOwner</key>
	<string>animateAutoBorderCollection</string>
	<key>createSpecifyVarObserver</key>
	<string>trainDiscardedRightCreator</string>
	<key>getDedicatedIntegrationAdapter</key>
	<string>setRapidTechniqueStack</string>
	<key>getDirectTopCache</key>
	<string>getUniqueRestrictionHandler</string>
	<key>getPrismaticScaleGroup</key>
	<string>endEuclideanCapacitiesReference</string>
	<key>seekPrevMenuObserver</key>
	<string>setProtectedHeadImplement</string>
	<key>setSemanticModulusImplement</key>
	<string>setMultiBaseFactory</string>
</dict>
</plist>
