<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPrevTempleCache</key>
	<string>removeCrucialValueReference</string>
	<key>reduceExplicitBinaryFactory</key>
	<string>drawDiscardedNotationHelper</string>
	<key>setLocalBufferFactory</key>
	<string>stopConcreteMomentumTarget</string>
</dict>
</plist>
