<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatePublicNodeTarget</key>
	<string>initializeActivatedNameAdapter</string>
	<key>cloneOldIndexPool</key>
	<string>getTensorTagType</string>
	<key>compareOldQueueCache</key>
	<string>cancelEphemeralEdgeHelper</string>
	<key>conformBeginnerNormOwner</key>
	<string>setCriticalHeadType</string>
	<key>drawAccordionParamReference</key>
	<string>enumerateSynchronousNumberFactory</string>
	<key>getDiscardedEdgeFactory</key>
	<string>setMediocreCoordBase</string>
	<key>offsetImmutableElasticityManager</key>
	<string>analyzeEasyOpacityExtension</string>
	<key>resumeSustainableParticleAdapter</key>
	<string>augmentPivotalNotationHandler</string>
	<key>setEphemeralVisibleStack</key>
	<string>getCommonVectorExtension</string>
</dict>
</plist>
