<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureDisparateStyleManager</key>
	<string>cancelEphemeralContractionGroup</string>
	<key>convertSpecifyAllocatorBase</key>
	<string>setCustomizedSessionProtocol</string>
	<key>setLastVarFactory</key>
	<string>shearCrudeFlagsPool</string>
</dict>
</plist>
