<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateConcreteVarDelegate</key>
	<string>endAccordionVariableProtocol</string>
	<key>cancelSubstantialReductionTarget</key>
	<string>generateDenseTernaryTarget</string>
	<key>generateCommonMissionFilter</key>
	<string>preparePermanentOriginCreator</string>
	<key>getSymmetricChannelsDecorator</key>
	<string>trainCommonInitiatorsStack</string>
	<key>setConcreteBufferHelper</key>
	<string>removeArithmeticCenterObserver</string>
	<key>startIndependentGraphicContainer</key>
	<string>reflectAssociatedGroupFactory</string>
</dict>
</plist>
