<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelLostBottomTarget</key>
	<string>getCommonParticleBase</string>
	<key>convertRequiredTagList</key>
	<string>resumePermanentSineCollection</string>
	<key>detachAutoBottomCreator</key>
	<string>accelerateLiteMonsterInstance</string>
	<key>divideSimilarStyleType</key>
	<string>revisitBeginnerRestrictionContainer</string>
	<key>encapsulateGreatRotationFilter</key>
	<string>escalateCrucialValueCreator</string>
	<key>getRequiredBufferOwner</key>
	<string>keepPrismaticRemediationGroup</string>
	<key>pausePriorOriginType</key>
	<string>finishOriginalNumberManager</string>
</dict>
</plist>
