<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishDiscardedTempleFilter</key>
	<string>removeIterativeStyleBase</string>
	<key>pausePrevSkirtInstance</key>
	<string>getUniqueRouteProtocol</string>
	<key>pauseSmallTaskDecorator</key>
	<string>getDifficultColorType</string>
	<key>replaceRapidVariableHandler</key>
	<string>getBasicKernelAdapter</string>
	<key>respondSeamlessThreadFilter</key>
	<string>setCurrentTraversalExtension</string>
	<key>restartIndependentTempleArray</key>
	<string>trainSinglePlateFactory</string>
	<key>setMediumPaddingArray</key>
	<string>getDeclarativeStyleFilter</string>
	<key>stopDirectTempleStack</key>
	<string>cancelMultiBulletCache</string>
</dict>
</plist>
