<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMissedCertificateManager</key>
	<string>unscheduleSophisticatedMapTarget</string>
	<key>detachEnabledPreviewCache</key>
	<string>cancelPermanentTextHandler</string>
	<key>getGlobalVarObserver</key>
	<string>visitSharedTopFactory</string>
	<key>getHardModelStack</key>
	<string>setCustomDialogsArray</string>
	<key>getHardVarCache</key>
	<string>getDeclarativeVarType</string>
	<key>keepAgileEdgeAdapter</key>
	<string>quantizerUnsortedVariableExtension</string>
	<key>unscheduleTypicalSizeStack</key>
	<string>getSimilarElementCreator</string>
</dict>
</plist>
