<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueLostArchitecturePool</key>
	<string>restartGreatAudioProtocol</string>
	<key>dismissDifficultEvaluationDelegate</key>
	<string>setProtectedDimensionDelegate</string>
	<key>drawSubtleEvaluationType</key>
	<string>getPublicVideoDecorator</string>
	<key>equalDiversifiedFrameTarget</key>
	<string>setPriorOriginCreator</string>
	<key>getUnsortedNumberManager</key>
	<string>stopDiversifiedVolumePool</string>
	<key>provideStandaloneNumberList</key>
	<string>keepCustomizedParamManager</string>
</dict>
</plist>
