<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverBackwardTempleProtocol</key>
	<string>getStaticDescentArray</string>
	<key>executeRapidSignaturePool</key>
	<string>decoupleGlobalProgressBarOwner</string>
	<key>getHardCoordinatorFilter</key>
	<string>keepStaticInitiatorsGroup</string>
	<key>getMultiAccessoryHandler</key>
	<string>setMediumDeliveryTarget</string>
	<key>poolBasicCardDelegate</key>
	<string>continueMutableNodeCollection</string>
	<key>prepareOriginalBufferBase</key>
	<string>adjustUnactivatedNotationDecorator</string>
	<key>setBackwardBorderCollection</key>
	<string>setTensorBufferAdapter</string>
</dict>
</plist>
